<ngt-portlet class="block w-full" icon="assets/images/icons/checkbox.svg" caption='Ngt Dropdown'>
    <div body>
        <p>Lorem ipsum.</p>
        <br>

        <p class="pb-4 font-semibold">Examples:</p>

        <div class="flex flex-col border rounded-lg py-2">
            <div class="flex flex-col w-full md:w-3/12 pr-0 md:pr-6 mx-4" ngt-dropdown-container>
                <ngt-dropdown>
                    <span host>dropdown 1</span>
                    <div container>
                        dropdown container 001
                    </div>
                </ngt-dropdown>

                <ngt-dropdown>
                    <span host>dropdown 2</span>
                    <div container>
                        dropdown container 002
                    </div>
                </ngt-dropdown>
            </div>
        </div>
    </div>
</ngt-portlet>