<div class="md:flex md:items-center">
    <div (click)='sort()' [class.cursor-pointer]='sortable'>
        <ng-content></ng-content>
        <ng-container *ngIf='sortable && isCurrentSort'>
            &nbsp;
            <i
                class="{{ sortDirection == 'desc' ? 'fas fa-sort-amount-down' : 'fas fa-sort-amount-up' }} text-gray-700 cursor-pointer"></i>
        </ng-container>
    </div>

    <ng-container *ngIf='searchable'>
        <div (click)='enableSearch()' class="float-right ml-2" title="Filtrar">
            <ngt-action h='h-6' w='w-6' ngt-stylizable>
                <svg xmlns="http://www.w3.org/2000/svg" class="fill-current" viewBox="0 0 20 20">
                    <path d="M12 12l8-8V0H0v4l8 8v8l4-4v-4z" />
                </svg>
            </ngt-action>
        </div>
    </ng-container>
</div>

<ng-template #modal>
    <ngt-modal-header [ngtModal]='ngtDataTable.searchModal'>
        <span class="font-semibold text-gray-800 text-sm">{{ searchLabel }}</span>
    </ngt-modal-header>

    <ngt-modal-body>
        <div [hidden]='hasCustomSearch'>
            <ngt-input #searchInput jit='true' [(ngModel)]='searchTerm' (ngModelChange)='search($event)'
                placeholder='Pesquisar...' name='{{ reference }}_filter'></ngt-input>
        </div>

        <div [hidden]='!hasCustomSearch'>
            <ng-content select='[customSearch]'></ng-content>
        </div>
    </ngt-modal-body>
</ng-template>