<div class="md:flex md:items-center">
    <div class="flex items-center justify-center" (click)='sort()' [class.cursor-pointer]='sortable'>
        <ng-content></ng-content>
        <ng-container *ngIf='sortable && isCurrentSort'>
            &nbsp;
            <svg *ngIf="sortDirection == 'asc'" class="fill-current self-center cursor-pointer"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
            </svg>

            <svg *ngIf="sortDirection == 'desc'" class="fill-current self-center cursor-pointer"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M10.707 7.05L10 6.343 4.343 12l1.414 1.414L10 9.172l4.243 4.242L15.657 12z" />
            </svg>
        </ng-container>
    </div>

    <ng-container *ngIf='searchable'>
        <div (click)='enableSearch()' class="float-right ml-2" title="Filtrar">
            <ngt-action class="text-lg" h='h-6' w='w-6' ngt-stylizable>
                <svg class="fill-current self-center" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M1595 295q17 41-14 70l-493 493v742q0 42-39 59-13 5-25 5-27 0-45-19l-256-256q-19-19-19-45V858L211 365q-31-29-14-70 17-39 59-39h1280q42 0 59 39z" />
                </svg>
            </ngt-action>
        </div>
    </ng-container>
</div>

<ng-template #modal>
    <ngt-modal-header [ngtModal]='ngtDataTable.searchModal'>
        <span class="font-semibold text-gray-800 text-sm">{{ searchLabel }}</span>
    </ngt-modal-header>

    <ngt-modal-body>
        <div [hidden]='hasCustomSearch'>
            <ngt-input #searchInput jit='true' [(ngModel)]='searchTerm' (ngModelChange)='search($event)'
                placeholder='Pesquisar...' name='{{ reference }}_filter'></ngt-input>
        </div>

        <div [hidden]='!hasCustomSearch'>
            <ng-content select='[customSearch]'></ng-content>
        </div>
    </ngt-modal-body>
</ng-template>