<label class="{{ shining ? '' : 'flex'}} mb-2 text-sm mt-2" *ngIf="label" [hidden]="shining">
    {{label}}:
    <span class="text-red-500 font-bold text-md" *ngIf="isRequired">*</span>
    <a *ngIf='helpText' [title]="helpTitle" [attr.data-content]="helpText">
        &nbsp;[?]
    </a>
</label>

<div class="flex flex-col">
    <div class="{{ shining ? '' : 'flex'}}" [hidden]='shining'>
        <textarea [rows]='rows' autocomplete="new-password" attr.type="text"
            class="appearance-none block border focus:outline-none leading-tight px-4 py-3 rounded w-full h-full {{ ngtStyle.compile(['h', 'color.border', 'color.bg', 'color.text']) }}"
            [disabled]="isDisabled" [readonly]="isReadonly" placeholder="{{ placeholder ? placeholder : ''}}"
            [ngClass]="{'textarea-has-error border-red-700': formControl?.errors && (formControl?.dirty || (formContainer && formContainer['submitted']))}"
            #element></textarea>
    </div>

    <ng-container *ngIf="showCharactersLength && !shining">
        <p class="text-xs mt-1">
            Caracteres restantes: <span class="font-semibold">
                {{ getRemainingCharacters() }}
            </span>
        </p>
    </ng-container>
</div>

<ng-container *ngIf='shining'>
    <div class="flex">
        <ngt-shining class="h-10 w-full"></ngt-shining>
    </div>
</ng-container>

<input *ngIf='componentReady' type="hidden" [ngModel]="value" [name]="name" [value]="value">

<ng-content></ng-content>
<ngt-validation [control]="formControl" [container]="formContainer"></ngt-validation>