.ngt-shining-xs {
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: shimmer-xs;
}

@keyframes shimmer-xs {
    0% {
        background-position: -20vw;
    }

    100% {
        background-position: 20vw;
    }
}

.ngt-shining-sm {
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: shimmer-sm;
}

@keyframes shimmer-sm {
    0% {
        background-position: -40vw;
    }

    100% {
        background-position: 40vw;
    }
}

.ngt-shining-lg {
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: shimmer-lg;
}

@keyframes shimmer-lg {
    0% {
        background-position: -60vw;
    }

    100% {
        background-position: 60vw;
    }
}

.ngt-shining-xl {
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: shimmer-xl;
}

@keyframes shimmer-xl {
    0% {
        background-position: -80vw;
    }

    100% {
        background-position: 80vw;
    }
}