<label *ngIf="label" [hidden]='shining'
    class="{{ shining ? '' : 'block' }} {{ ngtStyle.compile(['color.text', 'text', 'font', 'fontCase']) }} mb-2 flex">
    <ngt-svg *ngIf="labelIcon" class="mr-1 {{labelIconColor}}" src="{{labelIcon}}"></ngt-svg>
    {{ label }}:

    <span class="text-red-500 font-bold text-md ml-1" *ngIf="isRequired">*</span>

    <ngt-helper *ngIf="helpText" [helpTitle]="helpTitle" [iconColor]="helpTextColor"
        [helperReverseYPosition]="helperReverseYPosition" [autoXReverse]="helperAutoXReverse" class="ml-1">
        {{ helpText }}
    </ngt-helper>
</label>

<div [hidden]='shining' class="{{ getSelectClass() }} normal-case" style="min-height: 3rem;">
    <ng-select class="custom" [(ngModel)]='nativeValue' [name]='nativeName' [addTag]='allowCreate'
        [addTagText]="createText || ngtTranslateService.ngtSelectCreateText" [bindLabel]="bindLabel"
        [multiple]="multiple" [hideSelected]="hideSelected" [typeahead]="typeahead"
        [notFoundText]="notFoundText || ngtTranslateService.ngtSelectNotFoundText" [searchable]="searchable"
        [disabled]='isDisabled || isReadonly' [clearable]="clearable && hasSelectedValue()"
        [closeOnSelect]="closeOnSelect" [trackByFn]="trackBy" [labelForId]="labelForId"
        [typeToSearchText]="typeToSearchText || ngtTranslateService.ngtSelectTypeToSearchText"
        [placeholder]="placeholder || ngtTranslateService.ngtSelectPlaceholder" [dropdownPosition]="dropdownPosition"
        [groupBy]="groupBy" [clearAllText]="clearAllTooltip || ngtTranslateService.ngtSelectClearAllTooltip"
        [clearSearchOnAdd]="clearSearchOnAdd" [bindValue]="bindValue" [virtualScroll]="virtualScroll"
        [loadingText]="loadingText || ngtTranslateService.ngtSelectLoadingText" [maxSelectedItems]="maxSelectedItems"
        [tabIndex]="tabIndex" [items]="ngSelectItems | async" [groupValue]="groupValue" [loading]="loading"
        [compareWith]='compareWith' [inputAttrs]="inputAttrs" (scroll)="onScroll($event)"
        (change)="onNativeChange($event)" (clear)='onClearSelect()' (remove)='onRemoveSelectedItem($event)'
        (click)="wasClicked = true">

        <ng-template *ngIf='ngtSelectHeaderTemplate' ng-header-tmp>
            <ng-template [ngTemplateOutlet]="ngtSelectHeaderTemplate">
            </ng-template>
        </ng-template>

        <ng-template ng-label-tmp let-item="item">
            <div class="flex w-full items-center pr-1">
                <ng-container *ngIf="multiple">
                    <div class="ng-value-icon px-1 h-full border-r mr-2 {{ ngtStyle.compile(['color.text', 'text']) }} cursor-pointer"
                        (click)='removeItem($event, item)'>
                        <svg class="ng-value-icon fill-current self-center" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24">
                            <path
                                d="M19.1 17.2l-5.3-5.3 5.3-5.3-1.8-1.8-5.3 5.4-5.3-5.3-1.8 1.7 5.3 5.3-5.3 5.3L6.7 19l5.3-5.3 5.3 5.3 1.8-1.8z" />
                        </svg>
                    </div>
                </ng-container>

                <ng-template *ngIf='ngtOptionSelectedTemplate' [ngTemplateOutlet]="ngtOptionSelectedTemplate"
                    [ngTemplateOutletContext]="{ item: item }">
                </ng-template>

                <ng-template *ngIf='!ngtOptionSelectedTemplate' [ngTemplateOutlet]="ngtOptionTemplate"
                    [ngTemplateOutletContext]="{ item: item }">
                </ng-template>
            </div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            <ng-template [ngTemplateOutlet]="ngtOptionTemplate"
                [ngTemplateOutletContext]="{ item: item, index: index, searchTerm: search }">
            </ng-template>
        </ng-template>
    </ng-select>
</div>

<ng-container *ngIf='shining'>
    <div class="flex">
        <ngt-shining class="{{ ngtStyle.compile(['h']) }} w-full"></ngt-shining>
    </div>
</ng-container>

<ngt-validation [control]="formControl" [container]="formContainer"></ngt-validation>

<input *ngIf='componentReady' type='hidden' [ngModel]="value" [name]="name" [value]="value">