<div style="width:100%; height: 100%;">
    <div style="width:100%; height: 100%;">
        <div class="w-full py-5 pr-10">
            <div class="w-full flex justify-end cursor-pointer text-2xl" (click)="close()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill="#fff"
                        d="M24 2.42l-2.42 -2.42 -9.58 9.58 -9.58 -9.58 -2.42 2.42 9.58 9.58 -9.58 9.58 2.42 2.42 9.58 -9.58 9.58 9.58 2.42 -2.42 -9.58 -9.58 9.58 -9.58z" />
                </svg>

            </div>
            <div class="w-full justify-center text-center text-2xl font-mono text-white">
                {{ fileName }}
            </div>
        </div>
        <div class="px-10" style="width:100%; height: 83%;" *ngIf="canShowViewer">
            <ngx-doc-viewer class="h-full w-full" [url]="url">
            </ngx-doc-viewer>
        </div>
    </div>
</div>