<div class="flex h-full w-full">
    <ng-container *ngIf="visible">
        <div class="{{ getNavSize() }} {{ ngtStyle.compile(['color.bg']) }} md:h-auto h-screen md:top-auto top-0 md:static fixed md:block {{ open ? 'block' : 'hidden' }} z-20"
            #element>
            <ng-content select='[body]'></ng-content>
        </div>

        <!-- Botão auxiliar para fechar o menu ao clicar em qualquer lugar da tela -->
        <button (click)='closeMenu()' *ngIf="open" tabindex="-1"
            class="fixed z-10 inset-0 h-full w-full bg-black opacity-50 cursor-default">
        </button>
    </ng-container>

    <div class="flex-wrap {{ getContainerSize() }}">
        <ng-content></ng-content>
    </div>
</div>