<div class="flex h-full w-full">
    <ng-container *ngIf="visible">
        <div class="{{ getNavSize() }} {{ ngtStyle.compile(['color.bg', 'h']) }} {{ open ? 'block' : 'hidden' }} top-auto md:static fixed md:block z-50 overflow-auto"
            @fadeDownAnimation>
            <ng-content select='[body]'></ng-content>
        </div>

        <ng-container *ngIf="open">
            <!-- Botão auxiliar para fechar o menu ao clicar em qualquer lugar da tela -->
            <button (click)='closeMenu()' tabindex="-1"
                class="fixed z-40 inset-0 h-full w-full bg-black opacity-50 cursor-default">
            </button>
        </ng-container>
    </ng-container>

    <div class="flex-wrap {{ getContainerSize() }} overflow-auto">
        <ng-content></ng-content>
    </div>
</div>