<div class="flex h-full w-full">
    <ng-container *ngIf="visible">
        <div class="{{ getNavSize() }} {{ ngtStyle.compile(['color.bg', 'h']) }} {{ open ? 'block' : 'hidden' }} top-auto fixed {{ isMobileView() ? '' : 'md:static md:block' }} z-40"
            @fadeDownAnimation>
            <ng-content select='[sideMenu]'></ng-content>
        </div>

        <ng-container *ngIf="open">
            <button (click)='closeMenu()' tabindex="-1"
                class="fixed z-30 inset-0 h-full w-full bg-black opacity-50 cursor-default">
            </button>
        </ng-container>
    </ng-container>

    <div class="flex-wrap {{ getContainerSize() }} overflow-auto">
        <ng-content></ng-content>
    </div>
</div>