<ngt-portlet class="block w-full" icon="assets/images/icons/clipboard.svg" caption='Ngt Form'>
    <div body>
        <p>
            Component used to manage and facilitate the control of other components in this form.
            <br><br>
            <span class="font-semibold">Note: </span>
            This component needs the service
            <span class="font-semibold">NgtHttpFormService</span> to be provided for it.
        </p>

        <br>
        <p class="pb-4 font-semibold">Examples:</p>

        <div class="flex flex-col border rounded-lg py-2">
            <form>
                <ngt-form [customLayout]='true' message='Complete all the fields correctly' #ngtForm>
                    <ngt-form-validation-message class="block mx-5 mt-5"></ngt-form-validation-message>
                    <div class="flex flex-wrap">
                        <span class="my-2 font-semibold text-left w-full block mx-5 text-sm">
                            FormState: <span class="font-normal">{{ ngtForm.getFormState() }}</span>
                        </span>

                        <ngt-input class="block mx-5 w-full" name='inputTest' label='Input Test' [isRequired]='true'>
                        </ngt-input>

                        <div class="flex mx-5 mt-5 w-full">
                            <ngt-button class="block w-6/12 pr-6" type='success' (click)='save()'>
                                <span class="text-center w-full">
                                    Save
                                </span>
                            </ngt-button>

                            <ngt-button class="block w-6/12" type='warning' [noSubmit]='true'
                                (click)='toggleFormState()'>
                                <span class="text-center w-full">
                                    ToggleFormState
                                </span>
                            </ngt-button>
                        </div>
                    </div>
                </ngt-form>
            </form>

            <div class="p-6 w-full flex justify-center">
                <code-preview class="max-w-full w-full">{{ codeExample }}</code-preview>
            </div>
        </div>

        <br>
        <p class="pb-4 font-semibold">Inputs:</p>

        <div class="flex flex-col text-gray-800">
            <div class="flex w-full items-center border bg-gray-200">
                <p class="text-center w-4/12 border-r py-3 px-4 font-semibold">guessFormState</p>
                <p class="w-8/12 py-3 px-4 bg-white">
                    When true, the component will automatically identify the status of editing and creation.
                </p>
            </div>

            <div class="flex w-full items-center border bg-gray-200">
                <p class="text-center w-4/12 border-r py-3 px-4 font-semibold">message</p>
                <p class="w-8/12 py-3 px-4 bg-white">Message shown when the form has a filling error.</p>
            </div>

            <div class="flex w-full items-center border bg-gray-200">
                <p class="text-center w-4/12 border-r py-3 px-4 font-semibold">routeIdentifier</p>
                <p class="w-8/12 py-3 px-4 bg-white">The key for identify a edition route. The default is "id".</p>
            </div>

            <div class="flex w-full items-center border bg-gray-200">
                <p class="text-center w-4/12 border-r py-3 px-4 font-semibold">resource</p>
                <p class="w-8/12 py-3 px-4 bg-white">Model used by the form to perform actions, like save.</p>
            </div>

            <div class="flex w-full items-center border bg-gray-200">
                <p class="text-center w-4/12 border-r py-3 px-4 font-semibold">customLayout</p>
                <p class="w-8/12 py-3 px-4 bg-white">
                    When true, you can choose where to display the form's validation message by placing the
                    <span class="font-semibold">NgtFormValidationMessage</span>
                    component in the desired location inside the form.
                </p>
            </div>
        </div>

        <br>
        <p class="pb-4 font-semibold">Outputs:</p>

        <div class="flex flex-col text-gray-800">
            <div class="flex w-full items-center border bg-gray-200">
                <p class="text-center w-4/12 border-r py-3 px-4 font-semibold">onCreating</p>
                <p class="w-8/12 py-3 px-4 bg-white">
                    Event emitted when the form is in creation mode.
                </p>
            </div>

            <div class="flex w-full items-center border bg-gray-200">
                <p class="text-center w-4/12 border-r py-3 px-4 font-semibold">onEditing</p>
                <p class="w-8/12 py-3 px-4 bg-white">
                    Event emitted when the form is in edition mode.
                </p>
            </div>

            <div class="flex w-full items-center border bg-gray-200">
                <p class="text-center w-4/12 border-r py-3 px-4 font-semibold">onLoadingChange</p>
                <p class="w-8/12 py-3 px-4 bg-white">
                    Event emitted when the load attribute has change.
                </p>
            </div>

            <div class="flex w-full items-center border bg-gray-200">
                <p class="text-center w-4/12 border-r py-3 px-4 font-semibold">onShiningChange</p>
                <p class="w-8/12 py-3 px-4 bg-white">
                    Event emitted when the shining attribute has change.
                </p>
            </div>

            <div class="flex w-full items-center border bg-gray-200">
                <p class="text-center w-4/12 border-r py-3 px-4 font-semibold">setupComponent</p>
                <p class="w-8/12 py-3 px-4 bg-white">
                    Event emitted when the component is ready.
                </p>
            </div>
        </div>

        <br>
        <p class="pb-4 font-semibold">Methods:</p>

        <div class="flex flex-col text-gray-800">
            <div class="flex w-full items-center border bg-gray-200">
                <p class="text-center w-4/12 border-r py-3 px-4 font-semibold">isCreating</p>
                <p class="w-8/12 py-3 px-4 bg-white">
                    Returns true when the form state is "CREATING", false otherwise.
                </p>
            </div>

            <div class="flex w-full items-center border bg-gray-200">
                <p class="text-center w-4/12 border-r py-3 px-4 font-semibold">isEditing</p>
                <p class="w-8/12 py-3 px-4 bg-white">
                    Returns true when the form state is "EDITING", false otherwise.
                </p>
            </div>

            <div class="flex w-full items-center border bg-gray-200">
                <p class="text-center w-4/12 border-r py-3 px-4 font-semibold">isLoading</p>
                <p class="w-8/12 py-3 px-4 bg-white">
                    Returns true when the form is in loading mode, false otherwise.
                </p>
            </div>

            <div class="flex w-full items-center border bg-gray-200">
                <p class="text-center w-4/12 border-r py-3 px-4 font-semibold">isShining</p>
                <p class="w-8/12 py-3 px-4 bg-white">
                    Returns true when the form is in shining mode, false otherwise.
                </p>
            </div>

            <div class="flex w-full items-center border bg-gray-200">
                <p class="text-center w-4/12 border-r py-3 px-4 font-semibold">setShining</p>
                <p class="w-8/12 py-3 px-4 bg-white">
                    Setter for shining attribute. Must be a boolean value.
                </p>
            </div>

            <div class="flex w-full items-center border bg-gray-200">
                <p class="text-center w-4/12 border-r py-3 px-4 font-semibold">setLoading</p>
                <p class="w-8/12 py-3 px-4 bg-white">
                    Setter for loading attribute. Must be a boolean value.
                </p>
            </div>

            <div class="flex w-full items-center border bg-gray-200">
                <p class="text-center w-4/12 border-r py-3 px-4 font-semibold">setFormState</p>
                <p class="w-8/12 py-3 px-4 bg-white">
                    Setter for formState attribute. Must be a instance of
                    <span class="font-semibold">NgtFormState</span>.
                    <br><br>
                    Receives as a second parameter a boolean value that defines whether the change in the form's state
                    should trigger the component's events related to that state.
                </p>
            </div>

            <div class="flex w-full items-center border bg-gray-200">
                <p class="text-center w-4/12 border-r py-3 px-4 font-semibold">getFormState</p>
                <p class="w-8/12 py-3 px-4 bg-white">
                    Returns the current formState.
                </p>
            </div>

            <div class="flex w-full items-center border bg-gray-200">
                <p class="text-center w-4/12 border-r py-3 px-4 font-semibold">saveResource</p>
                <p class="w-8/12 py-3 px-4 bg-white">
                    Saves the resource passed into resource attribute based on
                    <span class="font-semibold">NgtHttpFormService</span> provided for this component.
                </p>
            </div>

            <div class="flex w-full items-center border bg-gray-200">
                <p class="text-center w-4/12 border-r py-3 px-4 font-semibold">clearCachedRoute</p>
                <p class="w-8/12 py-3 px-4 bg-white">
                    Clear the cached route based on cached route reuse strategy.
                </p>
            </div>
        </div>

        <br>
        <p class="pb-4 font-semibold">Enums:</p>

        <div class="flex flex-col text-gray-800">
            <div class="flex w-full items-center border bg-gray-700">
                <p class="text-center w-4/12 text-white border-r py-3 px-4 font-semibold">
                    NgtFormState
                </p>
                <p class="w-8/12 py-3 px-4 bg-white">
                    The formState provided for this component must be one of those.
                </p>
            </div>

            <div class="flex w-full items-center border bg-gray-200">
                <p class="text-center w-4/12 border-r py-3 px-4 font-semibold text-sm">CREATING</p>
                <p class="w-8/12 py-3 px-4 bg-white">
                    Type used when you want to have a form for registering new data.
                </p>
            </div>

            <div class="flex w-full items-center border bg-gray-200">
                <p class="text-center w-4/12 border-r py-3 px-4 font-semibold text-sm">EDITING</p>
                <p class="w-8/12 py-3 px-4 bg-white">
                    Type used when you want to have a form for editing existing data.
                </p>
            </div>
        </div>
    </div>
</ngt-portlet>