<label class="{{ shining ? '' : 'flex'}} mb-2 text-sm" *ngIf="label" [hidden]="shining">
  {{label}}:
  <span class="text-red-500 font-bold text-md" *ngIf="isRequired">*</span>
  <a *ngIf='helpText' [title]="helpTitle" [attr.data-content]="helpText">
    &nbsp;[?]
  </a>
</label>

<div class="{{ shining ? '' : 'flex relative'}}" [hidden]='shining'>
  <input autocomplete="new-password"
    class="flex border appearance-none focus:outline-none leading-tight rounded w-full {{ getInputPaddings() }} {{ ngtStyle.compile(['h', 'color.border', 'color.bg', 'color.text']) }}"
    [disabled]="isDisabled" [readonly]="isReadonly" placeholder="{{ placeholder ? placeholder : '' }}"
    [ngClass]="{'input-has-error border-red-700': formControl?.errors && (formControl?.dirty || (formContainer && formContainer['submitted']))}"
    [attr.type]="inputProperties.htmlType" #element>
  <span *ngIf="innerLeftIcon" class="absolute self-center px-3">
    <ngt-svg class="fill-current" [src]='innerLeftIcon'></ngt-svg>
  </span>

  <div class="flex absolute h-full justify-end right-0 w-auto">
    <span *ngIf="allowClear && value" class="self-center right-0 pl-1 pr-2 text-red-400 cursor-pointer"
      (click)='clearInput()'>
      <svg class="fill-current self-center" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path
          d="M19.1 17.2l-5.3-5.3 5.3-5.3-1.8-1.8-5.3 5.4-5.3-5.3-1.8 1.7 5.3 5.3-5.3 5.3L6.7 19l5.3-5.3 5.3 5.3 1.8-1.8z" />
      </svg>
    </span>

    <span *ngIf="innerRightIcon" class="self-center px-2">
      <ngt-svg class="fill-current" [src]='innerRightIcon'></ngt-svg>
    </span>
  </div>
</div>

<ng-container *ngIf='shining'>
  <div class="flex">
    <ngt-shining class="h-10 w-full"></ngt-shining>
  </div>
</ng-container>

<input *ngIf='componentReady' type="hidden" [ngModel]="value" [name]="name" [value]="value">

<ng-content></ng-content>
<ngt-validation [control]="formControl" [container]="formContainer"></ngt-validation>