<label class="{{ shining ? '' : 'block' }} {{ ngtStyle.compile(['color.text']) }} mb-2 text-sm flex" *ngIf="label"
  [hidden]='shining'>
  {{ label }}:

  <span class="text-red-500 font-bold text-md ml-1" *ngIf="isRequired">*</span>

  <div *ngIf='helpText' class="flex {{ helpTextColor }}" [title]="helpTitle" [attr.data-content]="helpText">
    &nbsp;
    <svg class="fill-current self-center" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
      <path
        d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm2-13c0 .28-.21.8-.42 1L10 9.58c-.57.58-1 1.6-1 2.42v1h2v-1c0-.29.21-.8.42-1L13 9.42c.57-.58 1-1.6 1-2.42a4 4 0 1 0-8 0h2a2 2 0 1 1 4 0zm-3 8v2h2v-2H9z" />
    </svg>
  </div>
</label>

<div class="{{ shining ? '' : 'flex relative'}}" [hidden]='shining'>
  <input autocomplete="new-password"
    class="flex border appearance-none focus:outline-none leading-tight rounded w-full {{ getInputPaddings() }} {{ ngtStyle.compile(['h', 'color.border', 'color.bg', 'color.text']) }}"
    [disabled]="isDisabled" [readonly]="isReadonly || loading" placeholder="{{ placeholder ? placeholder : '' }}"
    [ngClass]="{'input-has-error border-red-700': formControl?.errors && (formControl?.dirty || (formContainer && formContainer['submitted']))}"
    [attr.type]="inputProperties.htmlType" #element>
  <span *ngIf="innerLeftIcon" class="absolute self-center px-3">
    <ngt-svg class="fill-current" [src]='innerLeftIcon'></ngt-svg>
  </span>

  <div class="flex absolute h-full justify-end right-0 w-auto">
    <span *ngIf="allowClear && value" class="self-center right-0 pl-1 pr-2 text-red-400 cursor-pointer"
      (click)='!loading && clearInput()'>
      <svg class="fill-current self-center" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path
          d="M19.1 17.2l-5.3-5.3 5.3-5.3-1.8-1.8-5.3 5.4-5.3-5.3-1.8 1.7 5.3 5.3-5.3 5.3L6.7 19l5.3-5.3 5.3 5.3 1.8-1.8z" />
      </svg>
    </span>

    <span *ngIf="loading" class="self-center right-0 pl-1 pr-2 text-gray-500">
      <svg xmlns="http://www.w3.org/2000/svg" class="fill-current self-center flex ngt-rotate-center-infinity"
        viewBox="0 0 20 20" style="width: 20px; height: 20px;">
        <path
          d="M10 3v2a5 5 0 0 0-3.54 8.54l-1.41 1.41A7 7 0 0 1 10 3zm4.95 2.05A7 7 0 0 1 10 17v-2a5 5 0 0 0 3.54-8.54l1.41-1.41zM10 20l-4-4 4-4v8zm0-12V0l4 4-4 4z" />
      </svg>
    </span>

    <span *ngIf="type == 'password' && value" class="self-center px-2 cursor-pointer">
      <svg *ngIf="element.type == 'password'" class="fill-current" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20" (click)='showPassword()'>
        <path
          d="M.2 10a11 11 0 0 1 19.6 0A11 11 0 0 1 .2 10zm9.8 4a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 1 0-4 2 2 0 0 1 0 4z" />
      </svg>

      <svg *ngIf="element.type == 'text'" class="fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
        (click)='hidePassword()'>
        <path
          d="M12.81 4.36l-1.77 1.78a4 4 0 0 0-4.9 4.9l-2.76 2.75C2.06 12.79.96 11.49.2 10a11 11 0 0 1 12.6-5.64zm3.8 1.85c1.33 1 2.43 2.3 3.2 3.79a11 11 0 0 1-12.62 5.64l1.77-1.78a4 4 0 0 0 4.9-4.9l2.76-2.75zm-.25-3.99l1.42 1.42L3.64 17.78l-1.42-1.42L16.36 2.22z" />
      </svg>
    </span>

    <span *ngIf="innerRightIcon && type != 'password'" class="self-center px-2">
      <ngt-svg class="fill-current" [src]='innerRightIcon'></ngt-svg>
    </span>
  </div>
</div>

<ng-container *ngIf='shining'>
  <div class="flex">
    <ngt-shining class="{{ ngtStyle.compile(['h']) }} w-full"></ngt-shining>
  </div>
</ng-container>

<input *ngIf='componentReady' type="hidden" [ngModel]="value" [name]="name" [value]="value">

<ng-content></ng-content>
<ngt-validation [control]="formControl" [container]="formContainer" [minValue]='minValue' [minLength]='minLength'>
</ngt-validation>