<label class="{{ shining ? '' : 'flex'}} mb-2 text-sm" *ngIf="label" [hidden]="shining">
    {{label}}:
    <span class="text-red-500 font-bold text-md" *ngIf="isRequired">*</span>
    <a *ngIf='helpText' [title]="helpTitle" [attr.data-content]="helpText">
      &nbsp;[?]
    </a>
  </label>
  
  <div class="{{ shining ? '' : 'flex relative'}}" [hidden]='shining'>
    <input autocomplete="new-password"
      class="appearance-none block border border-gray-400 focus:bg-white focus:border-blue-500 focus:outline-none leading-tight {{ ngtStyle.compile(['h']) }} {{ innerLeftIcon ? 'pl-10 pr-4' : 'px-4' }} {{ allowClear ? 'pr-10' : '' }}  rounded w-full"
      [disabled]="isDisabled" [readonly]="isReadonly" placeholder="{{placeholder ? placeholder : ''}}"
      [ngClass]="{'input-has-error border-red-700': formControl?.errors && (formControl?.dirty || (formContainer && formContainer['submitted']))}"
      [attr.type]="inputProperties.htmlType" #element>
    <span *ngIf="innerLeftIcon" class="absolute self-center ml-3 text-blue-500">
      <i class="{{ innerLeftIcon }}"></i>
    </span>
    <span *ngIf="allowClear && value" class="absolute self-center right-0 mr-4 text-red-400 cursor-pointer"
      (click)='clearInput()'>
      <i class="{{ innerRightIcon }}"></i>
    </span>
  </div>
  
  <ng-container *ngIf='shining'>
    <div class="flex">
      <span class="h-10 w-full tail-shining"></span>
    </div>
  </ng-container>
  
  <input *ngIf='componentReady' type="hidden" [ngModel]="value" [name]="name" [value]="value">
  
  <ng-content></ng-content>
  <ngt-validation [control]="formControl" [container]="formContainer"></ngt-validation>