<div class="flex flex-col">
    <span *ngIf='label && !shining' class="text-sm mb-2">{{ label }}:</span>

    <div class="{{ shining ? 'hidden' : 'flex' }} items-center">
        <input class="block w-full cursor-pointer overflow-hidden appearance-none bg-gray-400 {{color}}"
            [class.cursor-not-allowed]="isDisabled" type="range" [name]='name' ([ngModel])='value' [min]='min'
            [max]='max' [step]='step' [disabled]="isDisabled" #element>

        <span id='display' class="text-xs ml-2 font-semibold" #display>{{ value }}</span>
        <span *ngIf="showPercentageSymbol" class="text-xs font-semibold">%</span>
    </div>
</div>

<ng-container *ngIf='shining'>
    <div class="flex">
        <ngt-shining class="w-full h-6"></ngt-shining>
    </div>
</ng-container>