.single-attachment {
    border: none !important;
    margin: unset !important;
    overflow: hidden !important;
    display: flex !important;
    justify-content: center !important;
}

.image-preview-default-class {
    margin: unset !important;
}

custom-dropzone-preview {
    height: 100% !important;
    min-height: unset !important;
    margin: unset !important;
}

.div-loader {
    width: 4rem;
    height: 4rem;
    border: 3px solid #a0aec038;
    border-top-color: #a0aec0;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}