<ngt-dropdown class="flex w-full hover:opacity-100" [closeOnClick]="closeOnClick" [openMethod]="openMethod"
            [autoYReverse]="false" [reverseXPosition]="!placeOnLeft" [reverseYPosition]="!placeOnBottom"
            [closeTimeout]="closeTimeout" (onHostClick)="fireClickEvent()" #dropdownRef>
    <div #hostDiv host>
        <ng-content></ng-content>
    </div>

    <div class="bg-gray-100 rounded-lg hover:opacity-100 text-gray-800 shadow-lg -mb-4"
        [ngClass]="ngtStyle.compile(stylesToCompile)" container>

        <ng-content select="[popover-content]"></ng-content>
    </div>
</ngt-dropdown>
