<label class="{{ shining ? '' : 'flex' }} mb-2 text-sm" *ngIf="label" [hidden]="shining">
    {{ label }}:
    <span class="text-red-500 font-bold text-md" *ngIf="isRequired">*</span>
    <a *ngIf='helpText' [title]="helpTitle" [attr.data-content]="helpText">
        &nbsp;[?]
    </a>
</label>

<div [hidden]='shining || isDisabled'>
    <div class="{{ !(formControl?.errors && (formControl?.dirty || (formContainer && formContainer['submitted']))) ? 'border-normal' : 'border-error' }}">
        <ng2-flatpickr [config]='dateConfig' disabled='true' placeholder="{{ placeholder ? placeholder : '' }}"
            #ng2FlatpickrComponent></ng2-flatpickr>
    </div>
</div>

<ng-container *ngIf='shining'>
    <div class="flex">
        <ngt-shining class="h-10 w-full"></ngt-shining>
    </div>
</ng-container>

<ng-container *ngIf='isDisabled'>
    <div class="disabledDiv flex w-full px-4 py-3 rounded appearance-none block border border-gray-400">
        {{ getFormattedNativeValue() }}
    </div>
</ng-container>

<input *ngIf='componentReady' type="hidden" [ngModel]="value" [name]="name" [value]="value">

<ng-content></ng-content>
<ngt-validation [control]="formControl" [container]="formContainer"></ngt-validation>