<label class="{{ shining ? '' : 'block' }} mb-2 {{ngtStyle.compile(['text', 'fontCase'])}} flex" *ngIf="label" [hidden]='shining'>
    {{ label }}:

    <span class="text-red-500 font-bold text-md ml-1" *ngIf="isRequired">*</span>

    <ngt-helper *ngIf="helpText" [helpTitle]="helpTitle" [iconColor]="helpTextColor" class="ml-1">
        {{ helpText }}
    </ngt-helper>
</label>

<div class="relative" [hidden]='shining || isDisabled'>
    <div
        class="overflow-hidden {{ ngtStyle.compile(['h', 'color.text']) }} {{ hasErrors() ? 'border-error' : 'border-normal' }}">
        <ng2-flatpickr class="block h-full" [config]='dateConfig' disabled='true'
            placeholder="{{ placeholder }}" #ng2FlatpickrComponent>
        </ng2-flatpickr>

        <div *ngIf="allowClear && value" class="flex absolute right-0 top-0 w-auto cursor-pointer mt-4 mr-2"
            (click)='clearInput(true)'>
            <svg class="fill-current self-center text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                    d="M19.1 17.2l-5.3-5.3 5.3-5.3-1.8-1.8-5.3 5.4-5.3-5.3-1.8 1.7 5.3 5.3-5.3 5.3L6.7 19l5.3-5.3 5.3 5.3 1.8-1.8z" />
            </svg>
        </div>
    </div>
</div>

<ng-container *ngIf='shining'>
    <div class="flex">
        <ngt-shining class="h-10 w-full"></ngt-shining>
    </div>
</ng-container>

<ng-container *ngIf='isDisabled'>
    <div class="disabledDiv w-full px-4 py-3 rounded appearance-none block border border-gray-400">
        {{ getFormattedNativeValue() }}
    </div>
</ng-container>

<input *ngIf='componentReady' type="hidden" [ngModel]="value" [name]="name" [value]="value">

<ng-content></ng-content>
<ngt-validation [control]="formControl" [container]="formContainer"></ngt-validation>
