@if (label() && !isShining()) {
<label
    class="{{ isShining() ? '' : 'block' }} {{ ngtStyle.compile(['color.text', 'text', 'font', 'fontCase']) }} mb-2 flex">
    @if (labelIcon()) {
        <ngt-svg class="mr-1 {{labelIconColor()}}" [src]="labelIcon()"></ngt-svg>
    }

    <span class="truncate" [title]="label()">
        {{ label() }}:
    </span>

    @if (isRequired()) {
        <span class="text-red-500 font-bold text-md ml-1">*</span>
    }

    <!-- TODO: Review ngt-helper for onPush -->

    <!-- @if (helpText()) {
    <ngt-helper [helpTitle]="helpTitle()" [iconColor]="helpTextColor()"
        [helperReverseYPosition]="helperReverseYPosition()" [autoXReverse]="helperAutoXReverse()" class="ml-1">
        {{ helpText() }}
    </ngt-helper>
    } -->
</label>
}

<div [hidden]="isShining()" class="{{ ngtStyle.compile(['text']) }} {{ selectClasses() }} normal-case"
    style="min-height: 2.5rem;">
    <ng-select class="custom" [addTag]="allowCreate()" [readonly]="isDisabledState()"
        [addTagText]="createText() || ngtTranslateService.ngtSelectCreateText" [bindLabel]="bindLabel()"
        [multiple]="multiple()" [hideSelected]="hideSelected()" [typeahead]="typeaheadSubject()"
        [notFoundText]="notFoundText() || ngtTranslateService.ngtSelectNotFoundText" [searchable]="searchable()"
        [searchFn]="itemSearchFn()" [clearable]="isClearable() && hasSelectedValue()"
        [closeOnSelect]="shouldCloseOnSelect()" [trackByFn]="trackByFn()" [labelForId]="labelForId()"
        [typeToSearchText]="typeToSearchText() || ngtTranslateService.ngtSelectTypeToSearchText"
        [placeholder]="placeholder() || ngtTranslateService.ngtSelectPlaceholder"
        [dropdownPosition]="dropdownPosition()" [groupBy]="groupBy()"
        [clearAllText]="clearAllTooltip() || ngtTranslateService.ngtSelectClearAllTooltip"
        [clearSearchOnAdd]="clearSearchOnAdd()" [bindValue]="bindValue()" [virtualScroll]="virtualScroll()"
        [loadingText]="loadingText() || ngtTranslateService.ngtSelectLoadingText"
        [maxSelectedItems]="maxSelectedItems()" [tabIndex]="tabIndex()" [items]="stateService.ngSelectItems() | async"
        [groupValue]="groupValue()" [loading]="isLoading()" [compareWith]="getCompareWith()" [inputAttrs]="inputAttrs()"
        (scroll)="onScroll($event)" (close)="onClose.emit()" (clear)="onClearSelect()" 
        (remove)="onRemoveSelectedItem($event)" (open)="onOpen()" (change)="onNativeChange($event)" 
        (blur)="onTouched()" (click)="stateService.markAsClicked()">

        @if (ngtSelectHeaderTemplate) {
            <ng-template ng-header-tmp>
                <ng-template [ngTemplateOutlet]="ngtSelectHeaderTemplate">
                </ng-template>
            </ng-template>
        }

        <ng-template ng-label-tmp let-item="item">
            <div class="flex w-full items-center pr-1">
                @if (multiple() && !cantRemoveItem(item)) {
                    <div class="ng-value-icon px-1 h-full border-r mr-2 {{ ngtStyle.compile(['color.text', 'text']) }} cursor-pointer"
                        (click)="removeItem($event, item)">
                        <svg class="ng-value-icon fill-current self-center" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24">
                            <path
                                d="M19.1 17.2l-5.3-5.3 5.3-5.3-1.8-1.8-5.3 5.4-5.3-5.3-1.8 1.7 5.3 5.3-5.3 5.3L6.7 19l5.3-5.3 5.3 5.3 1.8-1.8z" />
                        </svg>
                    </div>
                }

                @if (ngtOptionSelectedTemplate) {
                    <ng-template [ngTemplateOutlet]="ngtOptionSelectedTemplate" [ngTemplateOutletContext]="{ item: item }">
                    </ng-template>
                }

                @if (!ngtOptionSelectedTemplate && ngtOptionTemplate) {
                    <ng-template [ngTemplateOutlet]="ngtOptionTemplate" [ngTemplateOutletContext]="{ item: item }">
                    </ng-template>
                }
            </div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            @if (ngtOptionTemplate) {
                <ng-template [ngTemplateOutlet]="ngtOptionTemplate"
                    [ngTemplateOutletContext]="{ item: item, index: index, searchTerm: search }">
                </ng-template>
            }
        </ng-template>
    </ng-select>
</div>

@if (isShining()) {
    <div class="flex">
        <ngt-shining class="{{ ngtStyle.compile(['h']) }} w-full"></ngt-shining>
    </div>
}

<ngt-validation [control]="formControl"></ngt-validation>