@if (label()) {
    <label class="mb-2 flex {{ ngtStyle.compile(['text', 'font', 'color.text']) }}" [class.block]="!isShining()"
        [hidden]="isShining()">
        <span class="truncate" [title]="label()">
            {{ label() }}:
        </span>

        @if (isRequired()) {
            <span class="text-red-500 font-bold text-md ml-1">*</span>
        }

        @if (helpText()) {
            <ngt-helper [helpTitle]="helpTitle()" [iconColor]="helpTextColor()" class="ml-1">
                {{ helpText() }}
            </ngt-helper>
        }
    </label>
}

<div class="flex flex-col">
    @if (!isShining()) {
        <div class="flex">
            <textarea #element [rows]="rows()" autocomplete="new-password" attr.type="text" [class]="textareaClasses()"
                [disabled]="isDisabled()" [readonly]="isReadonly()" [placeholder]="placeholder() || ''">
                </textarea>
        </div>
    }

    @if (showCharactersLength() && !isShining()) {
        <p class="text-xxs mt-1">
            {{ ngtTranslateService?.ngtTextAreaRemainingCharacters }}:
            <span class="font-semibold">
                {{ remainingCharacters() }}
            </span>
        </p>
    }
</div>

@if (isShining()) {
    <div class="flex">
        <ngt-shining class="h-10 w-full"></ngt-shining>
    </div>
}

@if (componentReady()) {
    <input class="text-xs" type="hidden" [ngModel]="value" [name]="name()" [value]="value">
}

<ng-content></ng-content>
<ngt-validation [control]="formControl" [container]="formContainer"></ngt-validation>