@if (label() && !isShining()) {
    <label class="flex mb-2 {{ ngtStyle.compile(['text', 'fontCase']) }}">
        <span class="truncate" [title]="label()">
            {{ label() }}:
        </span>

        @if (isRequired()) {
            <span class="text-red-500 font-bold text-xxs ml-1">*</span>
        }

        <!-- TODO: Review ngt-helper for onPush -->

        <!-- @if (helpText()) {
            <ngt-helper class="ml-1" [helpTitle]="helpTitle()" [iconColor]="helpTextColor()"
                [helperReverseYPosition]="helperReverseYPosition()">
                {{ helpText() }}
            </ngt-helper>
            } -->
    </label>
}

<div [hidden]="isShining() || isReadonlyState()" class="relative">
    <div [class]="containerClasses()">
        <ev-date-picker class="block h-full w-full" [config]="dateConfig()" [placeholder]="placeholder()" #evDatePicker>
        </ev-date-picker>

        @if (shouldShowClearButton()) {
            <div class="flex h-full absolute items-center right-0 top-0 w-auto cursor-pointer"
                [class.mr-5]="showCalendarIcon()" [class.mr-2]="!showCalendarIcon()" (click)="clearInput($event, true)">
                <svg class="fill-current text-red-400 w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                        d="M19.1 17.2l-5.3-5.3 5.3-5.3-1.8-1.8-5.3 5.4-5.3-5.3-1.8 1.7 5.3 5.3-5.3 5.3L6.7 19l5.3-5.3 5.3 5.3 1.8-1.8z" />
                </svg>
            </div>
        }

        @if (showCalendarIcon()) {
            <div class="flex h-full absolute items-center right-0 top-0 w-auto cursor-pointer mr-2">
                <svg class="fill-current text-gray-600 w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                        d="M19,4H17V3a1,1,0,0,0-2,0V4H9V3A1,1,0,0,0,7,3V4H5A3,3,0,0,0,2,7V19a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V7A3,3,0,0,0,19,4Zm1,15a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V12H20Zm0-9H4V7A1,1,0,0,1,5,6H7V7A1,1,0,0,0,9,7V6h6V7a1,1,0,0,0,2,0V6h2a1,1,0,0,1,1,1Z" />
                </svg>
            </div>
        }
    </div>
</div>

@if (isShining()) {
    <div class="flex">
        <ngt-shining class="h-10 w-full"></ngt-shining>
    </div>
}

@if (isReadonlyState()) {
    <div class="w-full text-xs px-4 rounded appearance-none flex items-center border border-gray-400 {{ ngtStyle.compile(['h']) }}"
        [class.disabledDiv]="isDisabledState()">
        {{ formattedDisplayValue() }}
    </div>
}

<ng-content></ng-content>

<ngt-validation [control]="formControl"></ngt-validation>