<ngt-header-nav color.bg='gray-700' ngt-stylizable>
    <div class="flex py-3 px-3 relative w-full justify-end">
        <ngt-dropdown>
            <!-- HEADER -->
            <div host class="flex align-items-center mr-6 cursor-pointer">
                <span class="mr-2 self-center text-white">Usuário</span>
                <ngt-action icon='assets/images/test.svg' h='8' w='8' ngt-stylizable></ngt-action>
            </div>

            <!-- BODY -->
            <div container class="w-full cursor-pointer">
                <p
                    class="block px-4 py-4 font-semibold text-gray-700 hover:bg-blue-500 w-full hover:text-white truncate">
                    Editar Perfil
                </p>
                <p
                    class="block px-4 py-4 font-semibold text-gray-700 hover:bg-blue-500 w-full hover:text-white truncate">
                    Ajuda
                </p>
                <p
                    class="block px-4 py-4 font-semibold text-gray-700 hover:bg-blue-500 w-full hover:text-white truncate">
                    Sair
                </p>
            </div>
        </ngt-dropdown>
    </div>
</ngt-header-nav>

<div class="min-h-screen">
    <ngt-sidenav style="min-height: 89vh;" size='sm' color.bg='blue-500' ngt-stylizable>
        <div body>
            <ul>
                <li>
                    Menu 1
                </li>
                <li>
                    Menu 2
                </li>
            </ul>
        </div>

        <div class="flex min-h-screen relative w-full">
            <ngt-content class="w-full" color.bg='gray-200' ngt-stylizable>
                <ngt-portlet caption='Teste Portlet' [withFooter]='true'>
                    <div right-header>
                        <p>Right Header</p>
                    </div>

                    <div left-header>
                        <p>Left Header</p>
                    </div>

                    <div body>
                        <p>Portlet Body</p>

                        <form #form='ngForm'>
                            {{ input_test1 }}
                            <ngt-input [(ngModel)]='input_test1' type='email' [isRequired]='true' name='input_test1'
                                label='Input test'>
                            </ngt-input>

                            {{ textarea_test1 }}
                            <ngt-textarea name='textarea' label='Ngt Textarea' [(ngModel)]="textarea_test1">
                            </ngt-textarea>

                            <br>

                            {{ checkbox1 }}
                            <ngt-checkbox name='checkbox' [(ngModel)]="checkbox1" label='Ngt Checkbox'></ngt-checkbox>

                            <br><br>

                            <div class="w-12 h-12">
                                <ngt-action icon='assets/images/test.svg' color.bg='blue-700' color.text='blue-200'
                                    ngt-stylizable>
                                </ngt-action>
                            </div>

                            <br><br>

                            <div class="w-32">
                                <ngt-tag icon='fas fa-times' color.bg='red-500' color.text='black' ngt-stylizable>
                                    Ngt Tag
                                </ngt-tag>
                            </div>

                            <div class="fixed bottom-0 right-0 mr-8 mb-6 z-50 w-12">
                                <ngt-floating-button [withAnimation]='true' icon='fas fa-plus'
                                    [menus]="floatingButtonMenus" ngt-stylizable></ngt-floating-button>
                            </div>

                            {{ date_test1 }}

                            <div class="w-full pr-0 md:w-4/12 mt-4 md:pr-6">
                                <ngt-date label='Previsão' [(ngModel)]='date_test1' name='ngtDate'></ngt-date>
                            </div>

                            <div class="w-full pr-0 md:w-4/12 mt-4 md:pr-6">
                                <ngt-select label='Test Select' [(ngModel)]='selectTest1' name='selectTest1'
                                    [remoteResource]='{}'>
                                    <ng-template let-item='item' ngt-select-option>
                                        {{item ? item.name : ''}}
                                    </ng-template>
                                </ngt-select>
                            </div>

                            <div class="flex flex-wrap">
                                <div class="mt-3 mr-6 w-3/12">
                                    <ngt-button type='success' (click)='openModal()' color.bg='red-900' ngt-stylizable>
                                        <span class="text-center w-full">
                                            NgtModal
                                        </span>
                                    </ngt-button>
                                </div>

                                <div class="mt-3 mr-6 w-3/12">
                                    <ngt-button type='danger'>
                                        <span class="text-center w-full">
                                            Danger
                                        </span>
                                    </ngt-button>
                                </div>

                                <div class="relative mt-3 mr-6 w-3/12">
                                    <ngt-button type='info' (click)='dropdownReverse.toggleMenuOnClick()'>
                                        <span class="text-center w-full">
                                            DropdownReverse
                                        </span>
                                    </ngt-button>

                                    <ngt-dropdown class="absolute" [withArrow]='false' [withHeader]='false'
                                        [reversePosition]='true' [openOnHover]='false'
                                        iconClass='ml-2 text-3xl self-center mt-1 text-gray-600' #dropdownReverse>
                                        <div body
                                            class="flex flex-col w-full cursor-pointer font-semibold text-gray-700">
                                            <div class="flex relative items-center">
                                                <i class="fas fa-pencil-alt absolute ml-5 text-xl text-blue-300"></i>
                                                <span
                                                    class="w-full rounded-t-lg pl-12 px-4 py-2 hover:bg-blue-500 hover:text-white">Editar</span>
                                            </div>

                                            <div class="flex relative items-center">
                                                <i class="fas fa-check absolute ml-5 text-xl text-blue-300"></i>
                                                <span
                                                    class="w-full pl-12 px-4 py-2 hover:bg-blue-500 hover:text-white">Concluir</span>
                                            </div>

                                            <div class="flex relative items-center">
                                                <i class="fas fa-times absolute ml-5 text-xl text-blue-300"></i>
                                                <span
                                                    class="w-full rounded-b-lg pl-12 px-4 py-2 hover:bg-blue-500 hover:text-white">Cancelar</span>
                                            </div>
                                        </div>
                                    </ngt-dropdown>
                                </div>

                                <div class="mt-3 mr-6 w-3/12">
                                    <ngt-button type='warning'>
                                        <span class="text-center w-full">
                                            Warning
                                        </span>
                                    </ngt-button>
                                </div>
                            </div>

                            <ngt-modal #ngtModal>
                                <div header>
                                    <p class="font-bold font-sans">Ngt Modal</p>
                                </div>

                                <div body>
                                    <div class="flex flex-wrap w-full">
                                        <ngt-input class="mt-3 w-full" label='Nome' name='taskName'>
                                        </ngt-input>
                                    </div>
                                </div>

                                <div footer>
                                    <ngt-button type='success' (click)='closeModal()'>Confirmar</ngt-button>
                                </div>
                            </ngt-modal>
                        </form>
                    </div>

                    <div left-footer>
                        <p>Left Porlet Footer</p>
                    </div>

                    <div right-footer>
                        <p>Right Porlet Footer</p>
                    </div>
                </ngt-portlet>

                <ngt-portlet [customLayout]='true' [withFooter]='true'>
                    <ngt-portlet-header icon='assets/images/test.svg' caption='Custom Layout Portlet'>
                        <div right-header>
                            <p>Right Header</p>
                        </div>

                        <div left-header>
                            <p>Left Header</p>
                        </div>
                    </ngt-portlet-header>

                    <ngt-portlet-body>
                        <ngt-content>
                            <form #form='ngForm'>
                                {{ input_test1 }}
                                <ngt-input [(ngModel)]='input_test1' type='email' [isRequired]='true' name='input_test1'
                                    label='Input test'>
                                </ngt-input>
                            </form>
                        </ngt-content>
                    </ngt-portlet-body>

                    <ngt-portlet-footer>
                        <div left-footer>
                            <p>Left Porlet Footer</p>
                        </div>

                        <div right-footer>
                            <p>Right Porlet Footer</p>
                        </div>
                    </ngt-portlet-footer>
                </ngt-portlet>

                <ngt-portlet color.bg='gray-100' ngt-stylizable [customLayout]='true' [withFooter]='false'>
                    <form #form='ngForm'>
                        <ngt-portlet-header caption='Custom Layout Portlet'>
                            <div right-header>
                                <ngt-input class="w-full md:w-auto" jit='true' placeholder='Pesquisar...' name='search'
                                    [(ngModel)]='searchTerm' #inputSearch></ngt-input>
                            </div>
                        </ngt-portlet-header>

                        <ngt-portlet-body>
                            <ngt-content>
                                <ngt-datatable [remoteResource]='{}' [inputSearch]='inputSearch' [type]='ngtTableType'
                                    #ngtTable>
                                    <thead ngt-thead>
                                        <tr ngt-tr>
                                            <th class="text-transform: capitalize" searchable='true' sortable='true'
                                                reference='name' searchLabel='Collumn 1' ngt-th>Collumn 1</th>
                                        </tr>
                                    </thead>

                                    <tbody ngt-tbody class="font-normal font-sans">
                                        <tr ngt-tr *ngFor="let data of ngtTable.data">
                                            <td ngt-td>{{ data.name }}</td>
                                        </tr>
                                    </tbody>
                                </ngt-datatable>
                            </ngt-content>
                        </ngt-portlet-body>
                    </form>
                </ngt-portlet>
            </ngt-content>
        </div>
    </ngt-sidenav>
</div>