<div class="w-full">
    <div class="flex flex-wrap w-full">
        @if (hasAppliedFilters()) {
            <ngt-tag class="w-full sm:w-auto {{ filterTagMargin() }}"
                [class.sm:mr-4]="filterTagMargin() == 'mb-4'" color.bg="bg-red-500" (click)="removeFilter()" ngt-stylizable>
                Limpar Filtros
            </ngt-tag>

            @for (filter of filtersTranslated; track filter.reference) {
                <ngt-tag class="w-full sm:w-auto {{ filterTagMargin() }}" [class.sm:mr-4]="filterTagMargin() == 'mb-4'"
                    [color.bg]="filterTagBgColor()" (click)="removeFilter(filter.reference)" ngt-stylizable
                    [title]="getTitle(filter)">
                    {{ filter.translation + ': ' + getTagFilterValue(filter) }}
                </ngt-tag>
            }
        }
    </div>

    <table style="display: table;" class="text-left w-full border-collapse table-responsive" #table>
        <ng-content></ng-content>
    </table>

    @if (emptyStateVisible) {
        <p class="mt-8 mx-auto self-center text-center text-xl">
            {{ ngtTranslateService.ngtDatatableNoDataFound }}
        </p>
    }

    @if (loading) {
        @for (i of [1, 2, 3, 4]; track $index) {
            <div class="flex w-full mt-3">
                @if (columnCount.length >= 2) {
                    @for (j of columnCount; track $index; let last = $last) {
                        @if (last) {
                            <ngt-shining class="h-10 w-full"></ngt-shining>
                        } @else {
                            <ngt-shining class="h-10 w-full mr-10"></ngt-shining>
                        }
                    }
                } @else {
                    <ngt-shining class="h-10 w-full"></ngt-shining>
                    <ngt-shining class="h-10 w-full mr-10 ml-10"></ngt-shining>
                    <ngt-shining class="h-10 w-full"></ngt-shining>
                }
            </div>
        }
    }
</div>

<div class="clearfix {{ paginationMargin() }}" [hidden]="!data || data.length == 0">
    <ngt-pagination [pagesInterval]='4' (onPageChange)='apply($event, false)' (onPerPageChange)='apply(1, false)'
        #ngtPagination>
    </ngt-pagination>
</div>

<ngt-modal [customLayout]="true" [isDisabled]="false" [ngtStyle]="filterModalStyle" #searchModal>
    <ng-container [ngTemplateOutlet]="searchModalTemplate()"></ng-container>
</ngt-modal>