<div class="w-full">
    <div class="flex flex-wrap w-full">
        <ngt-tag *ngIf="hasAppliedFilters()" (click)="removeFilter()" class="mr-0 sm:mr-4 mb-4 w-full sm:w-auto"
            color.bg="bg-red-500" ngt-stylizable>Limpar Filtros</ngt-tag>

        <ng-container *ngIf="hasAppliedFilters()">
            <ng-container *ngFor="let filter of filtersTranslated">
                <ngt-tag (click)="removeFilter(filter.reference)" class="mr-0 sm:mr-4 mb-4 w-full sm:w-auto"
                    [color.bg]="filterTagBgColor" ngt-stylizable>
                    {{ filter.translation + ': ' + (filter?.value?.tagValue ? filter.value.tagValue : filter.value)}}
                </ngt-tag>
            </ng-container>
        </ng-container>
    </div>

    <table style="display: table;" class="text-left w-full border-collapse table-responsive" #table>
        <ng-content></ng-content>
    </table>

    <p *ngIf="emptyStateVisible" class="mt-8 mx-auto self-center text-center text-xl">
        {{ ngtTranslateService.ngtDatatableNoDataFound }}
    </p>

    <div *ngIf="loading">
        <div *ngFor="let i of [1, 2, 3, 4]" class="flex w-full mt-3">
            <ng-container *ngIf="columnCount.length >= 2">
                <ng-container *ngFor="let j of columnCount; let last = last">
                    <ng-container *ngIf="last">
                        <ngt-shining class="h-10 w-full"></ngt-shining>
                    </ng-container>

                    <ng-container *ngIf="!last">
                        <ngt-shining class="h-10 w-full mr-10"></ngt-shining>
                    </ng-container>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="columnCount.length < 2">
                <ngt-shining class="h-10 w-full"></ngt-shining>
                <ngt-shining class="h-10 w-full mr-10 ml-10"></ngt-shining>
                <ngt-shining class="h-10 w-full"></ngt-shining>
            </ng-container>
        </div>
    </div>
</div>

<div class="clearfix mt-2 md:mt-8" [hidden]='!data || data.length == 0'>
    <ngt-pagination [pagesInterval]='4' (onPageChange)='apply($event, false)' (onPerPageChange)='apply(1, false)'
        #ngtPagination>
    </ngt-pagination>
</div>

<ngt-modal #searchModal [customLayout]='true'>
    <ng-container *ngTemplateOutlet="searchModalTemplate"></ng-container>
</ngt-modal>