<div type="hidden" class="text-xs text-red-700 font-bold">
    <span class="help-block has-error" *ngIf="control?.errors?.maxlength">
        {{ ngtTranslateService.ngtValidationMaxCharactersExceded }}
    </span>

    <span class="help-block has-error"
        *ngIf="control?.errors?.required && (control?.dirty || (container && container['submitted']))">
        {{ ngtTranslateService.ngtValidationRequiredField }}
    </span>

    <span class="help-block has-error"
        *ngIf="control?.errors?.email && (control?.dirty || (container && container['submitted']))">
        {{ ngtTranslateService.ngtValidationInvalidEmail }}
    </span>

    <span class="help-block has-error"
        *ngIf="control?.errors?.login && (control?.dirty || (container && container['submitted']))">
        {{ ngtTranslateService.ngtValidationLogin }}
    </span>

    <span class="help-block has-error"
        *ngIf="control?.errors?.invalid_password && (control?.dirty || (container && container['submitted']))">
        {{ ngtTranslateService.ngtValidationInvalidPassword }}
    </span>

    <span class="help-block has-error"
        *ngIf="control?.errors?.unique && (control?.dirty || (container && container['submitted']))">
        {{ ngtTranslateService.ngtValidationAlreadyExists }}
    </span>

    <span class="help-block has-error"
        *ngIf="control?.errors?.cnpj && (control?.dirty || (container && container['submitted']))">
        {{ ngtTranslateService.ngtValidationInvalidCnpj }}
    </span>

    <span class="help-block has-error"
        *ngIf="control?.errors?.cpf && (control?.dirty || (container && container['submitted']))">
        {{ ngtTranslateService.ngtValidationInvalidCpf }}
    </span>

    <span class="help-block has-error"
        *ngIf="control?.errors?.password && (control?.dirty || (container && container['submitted']))">
        {{ ngtTranslateService.ngtValidationPasswordRequiredMinCharacters }}
    </span>

    <span class="help-block has-error"
        *ngIf="control?.errors?.match && (control?.dirty || (container && container['submitted']))">
        {{ ngtTranslateService.ngtValidationFieldsNotMatch }}
    </span>

    <span class="help-block has-error"
        *ngIf="control?.errors?.invalidDate && (control?.dirty || (container && container['submitted']))">
        {{ ngtTranslateService.ngtValidationInvalidDate }}
    </span>

    <span class="help-block has-error"
        *ngIf="control?.errors?.time && (control?.dirty || (container && container['submitted']))">
        {{ ngtTranslateService.ngtValidationInvalidPrevision }}
    </span>

    <span class="help-block has-error"
        *ngIf="control?.errors?.externalServerDependency && (control?.dirty || (container && container['submitted']))">
        {{ ngtTranslateService.ngtValidationExternalServerUnavailable }}
    </span>

    <span class="help-block has-error"
        *ngIf="control?.errors?.minValue && (control?.dirty || (container && container['submitted']))">
        {{ ngtTranslateService.ngtValidationValueMustBeGreaterThan(minValue) }}
    </span>

    <span class="help-block has-error"
        *ngIf="control?.errors?.minlength && (control?.dirty || (container && container['submitted']))">
        {{ ngtTranslateService.ngtValidationMinLengthField(minLength) }}
    </span>
</div>
