<div type="hidden" class="text-xxs text-red-700 font-bold">
    @if (shouldShowError('maxlength')) {
        <span class="help-block has-error">
            {{ ngtTranslateService.ngtValidationMaxCharactersExceded }}
        </span>
    }

    @if (shouldShowError('required')) {
        <span class="help-block has-error">
            {{ ngtTranslateService.ngtValidationRequiredField }}
        </span>
    }

    @if (shouldShowError('email')) {
        <span class="help-block has-error">
            {{ ngtTranslateService.ngtValidationInvalidEmail }}
        </span>
    }

    @if (shouldShowError('login')) {
        <span class="help-block has-error">
            {{ ngtTranslateService.ngtValidationLogin }}
        </span>
    }

    @if (shouldShowError('invalid_password')) {
        <span class="help-block has-error">
            {{ ngtTranslateService.ngtValidationInvalidPassword }}
        </span>
    }

    @if (shouldShowError('unique')) {
        <span class="help-block has-error">
            {{ ngtTranslateService.ngtValidationAlreadyExists }}
        </span>
    }

    @if (shouldShowError('cnpj')) {
        <span class="help-block has-error">
            {{ ngtTranslateService.ngtValidationInvalidCnpj }}
        </span>
    }

    @if (shouldShowError('cpf')) {
        <span class="help-block has-error">
            {{ ngtTranslateService.ngtValidationInvalidCpf }}
        </span>
    }

    @if (shouldShowError('password')) {
        <span class="help-block has-error">
            {{ ngtTranslateService.ngtValidationPasswordRequiredMinCharacters }}
        </span>
    }

    @if (shouldShowError('match')) {
        <span class="help-block has-error">
            {{ ngtTranslateService.ngtValidationFieldsNotMatch }}
        </span>
    }

    @if (shouldShowError('invalidDate')) {
        <span class="help-block has-error">
            {{ ngtTranslateService.ngtValidationInvalidDate }}
        </span>
    }

    @if (shouldShowError('time')) {
        <span class="help-block has-error">
            {{ ngtTranslateService.ngtValidationInvalidPrevision }}
        </span>
    }

    @if (shouldShowError('externalServerDependency')) {
        <span class="help-block has-error">
            {{ ngtTranslateService.ngtValidationExternalServerUnavailable }}
        </span>
    }

    @if (shouldShowError('minValue')) {
        <span class="help-block has-error">
            {{ ngtTranslateService.ngtValidationValueMustBeGreaterThan(minValue) }}
        </span>
    }

    @if (shouldShowError('minlength')) {
        <span class="help-block has-error">
            {{ ngtTranslateService.ngtValidationMinLengthField(minLength) }}
        </span>
    }

    @if (shouldShowError('invalid_custom_validator')) {
        <span class="help-block has-error">
            {{ control.errors.invalid_custom_validator }}
        </span>
    }
</div>