<div class="flex min-w-full relative justify-center text-gray-700">
    <div *ngIf="isOpen" class="flex fixed min-w-full h-full inset-0 px-6 py-6 md:py-0 md:px-0 justify-center"
        style="background: rgba(0,0,0,.7); z-index: 1100 !important;" @fade>
        <ng-container *ngIf="!disableDefaultCloses">
            <button class="fixed inset-0 h-full w-full bg-black opacity-0 cursor-default z-0" tabindex="-1"
                type="button" (click)='close()'>
            </button>
        </ng-container>

        <div class="{{ ngtStyle.compile(['w', 'overflow']) }} relative border border-teal-500 bg-white w-full self-center rounded shadow-lg z-10"
            style="max-height: 85%;">
            <div class="cursor-default text-left {{ ngtStyle.compile(['py', 'px']) }}">
                <div *ngIf="!customLayout">
                    <ngt-modal-header class="w-full">
                        <ng-content select='[header]'></ng-content>
                    </ngt-modal-header>
                </div>

                <ng-container *ngIf="!customLayout">
                    <ngt-modal-body>
                        <ng-content select='[body]'></ng-content>
                    </ngt-modal-body>
                </ng-container>

                <!--Footer-->
                <ng-container *ngIf="!customLayout">
                    <ngt-modal-footer>
                        <ng-content select='[footer]'></ng-content>
                    </ngt-modal-footer>
                </ng-container>

                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>