<div class="flex min-w-full relative justify-center text-gray-700" #modalContainer>
    <div *ngIf="isOpen"
        class="ngt-modal fixed self-center container min-w-full h-100 inset-0 overflow-auto px-6 py-6 md:py-0 md:px-0 z-50 justify-center items-center flex"
        style="background: rgba(0,0,0,.7);" @fade>
        <ng-container *ngIf="!disableDefaultCloses">
            <button (click)='close()' tabindex="-1" type="button"
                class="fixed z-50 inset-0 h-full w-full bg-black opacity-0 cursor-default"></button>
        </ng-container>

        <div
            class="{{ ngtStyle.compile(['w']) }} modal-container border border-teal-500 bg-white w-full self-center rounded shadow-lg z-50">
            <div class="modal-content text-left {{ ngtStyle.compile(['py', 'px']) }}">
                <!--Header-->
                <div *ngIf="!customLayout">
                    <ngt-modal-header class="w-full">
                        <ng-content select='[header]'></ng-content>
                    </ngt-modal-header>
                </div>

                <!--Body-->
                <ng-container *ngIf="!customLayout">
                    <ngt-modal-body>
                        <ng-content select='[body]'></ng-content>
                    </ngt-modal-body>
                </ng-container>

                <!--Footer-->
                <ng-container *ngIf="!customLayout">
                    <ngt-modal-footer>
                        <ng-content select='[footer]'></ng-content>
                    </ngt-modal-footer>
                </ng-container>

                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>