@if (label() && !isShining()) {
    <label class="flex mb-2 {{ ngtStyle.compile(['text', 'font', 'color.text']) }}">
        <span class="truncate" [title]="label()">
            {{ label() }}:
        </span>

        @if (isRequired()) {
            <span class="text-red-500 font-bold text-md ml-1">*</span>
        }

        @if (helpText()) {
            <ngt-helper [helpTitle]="helpTitle()" [iconColor]="helpTextColor()" class="ml-1">
                {{ helpText() }}
            </ngt-helper>
        }
    </label>
}

<div [class]="isShining() ? 'hidden' : 'flex flex-col'">
    <textarea [class]="textareaClasses()" autocomplete="new-password" [rows]="rows()" [disabled]="isDisabledState()"
        [readonly]="isReadonly()" [placeholder]="placeholder()" (input)="onNativeChange()" (blur)="onTouched()"
        #textareaElement>
    </textarea>

    @if (showCharactersLength() && remainingCharacters() !== null) {
        <p class="text-xxs mt-1">
            {{ getTranslation('ngtTextAreaRemainingCharacters') }}:
            <span class="font-semibold">{{ remainingCharacters() }}</span>
        </p>
    }
</div>

@if (isShining()) {
    <div class="flex">
        <ngt-shining class="h-10 w-full"></ngt-shining>
    </div>
}

<ng-content></ng-content>

<ngt-validation [control]="formControl" [minLength]="minLength()"></ngt-validation>