<div class="sm:relative w-full">
    <div (mouseenter)="onHover(host, container)" (click)="onClick($event)" (contextmenu)="onRightClick($event)" #host>
        <ng-content select='[host]'></ng-content>
    </div>

    <div [hidden]='!isOpen'
        class="{{ reverseYPosition() ? 'mb-12 bottom-0' : 'mt-4' }} {{ reversePositionX() ? 'left-0': 'right-0' }} ngt-dropdown-container sm:mr-0 mr-3 max-w-xs absolute"
        [@openClose]="isOpen ? 'open' : 'closed'" (mouseenter)="onHover(host, container)"
        (click)='closeOnSelectOption()' style="z-index: 1100 !important;" #container>

        <ng-content select='[container]'></ng-content>
    </div>
</div>

<button *ngIf="isOpen && openMethod != 'HOVER'" class="fixed z-40 inset-0 h-full w-full opacity-0 cursor-default"
    (click)='toggle()'>
</button>