@if (label() && !isShining()) {
    <label class="flex text-xs" [class.mb-2]='!hasValidationErrors()'>
        <span class="truncate" [title]="label()">
            {{ label() }}:
        </span>

        @if (isRequired()) {
            <span class="text-red-500 font-bold text-xs ml-1">*</span>
        }

        @if (helpText()) {
            <ngt-helper [helpTitle]="helpTitle()" [iconColor]="helpTextColor()"
                [helperReverseYPosition]="helperReverseYPosition()" [autoXReverse]="helperAutoXReverse()" class="ml-1">
                {{ helpText() }}
            </ngt-helper>
        }
    </label>
}

<ngt-validation [hidden]='isShining()' class="block mb-1" [control]='formControl' [container]='formContainer'>
</ngt-validation>

@if (!isShining()) {
    <div class="flex flex-col {{ containerClasses() }}" style="min-height: 13rem;">
        <div class="flex items-center w-full p-2 border-b">
            @if (allowSelectAll()) {
                <ngt-checkbox class="flex" title="Selecionar todos" [isDisabled]='isLoading() || isDisabledState()'
                    [label]="!searchable() ? 'Selecionar todos' : ''" [ngModel]="selectAllCheckbox"
                    [name]="selectAllCheckboxName" [isClickDisabled]='true' h='h-4' w='w-4' (click)='selectAll()'
                    ngt-stylizable>
                </ngt-checkbox>
            }

            @if (searchable()) {
                <ngt-input class="block w-full" [class.pl-2]="allowSelectAll()" [name]='searchInputName'
                    [ngModel]='searchTerm()' (ngModelChange)='search($event)' placeholder='Buscar...' [allowClear]='true'
                    h='h-10' [loading]='isLoading()' [isDisabled]='isDisabledState()' ngt-stylizable #inputSearch>
                </ngt-input>
            }
        </div>

        @if (isLoading()) {
            <div class="flex flex-col gap-3 px-3 h-full w-full cursor-wait">
                <ngt-shining class="h-10 w-full"></ngt-shining>
                <ngt-shining class="h-10 w-full"></ngt-shining>
                <ngt-shining class="h-10 w-full"></ngt-shining>
                <ngt-shining class="h-10 w-full"></ngt-shining>
            </div>
        } @else {
            <div class="w-full overflow-y-auto text-xs flex flex-col" (scroll)='onScroll($event)' #containerRef>
                @if (customHeaderTemplate()) {
                    <ng-container [ngTemplateOutlet]="customHeaderTemplate()"></ng-container>
                }

                @for (element of currentSelectableElements(); track trackByUuid($index, element); let i = $index) {
                    <div class="flex w-full items-center hover:bg-gray-200"
                        [class.cursor-not-allowed]="isDisabledState()"
                        [class.cursor-pointer]="!isDisabledState()"
                        [class.p-2]='!customOptionTemplate()'
                        (click)='toggleItem(element, $event)'>

                        <ng-template let-element #elementCheckboxTemplate>
                            <ngt-checkbox class="flex pr-2" [name]='element.uuid' [ngModel]="element.isSelected"
                                (ngModelChange)='onNativeChange(element)' [isClickDisabled]='true'
                                [isDisabled]='!canSelectItem(element)' h='h-5' w='w-5' (click)='toggleItem(element, $event)'
                                ngt-stylizable>
                            </ngt-checkbox>
                        </ng-template>

                        <ng-template let-element #defaultOptionTemplate>
                            {{ getSelectableElementValue(element) }}
                        </ng-template>

                        @if (!customOptionTemplate()) {
                            <ng-container [ngTemplateOutlet]="elementCheckboxTemplate"
                                [ngTemplateOutletContext]="{ $implicit: element }">
                            </ng-container>
                        }

                        <ng-container [ngTemplateOutlet]="customOptionTemplate() || defaultOptionTemplate"
                            [ngTemplateOutletContext]="{ $implicit: element, index: i }">
                        </ng-container>
                    </div>
                }

                @if (hasNoData()) {
                    <p class="text-center mt-4">
                        {{ ngtTranslateService?.ngtMultiSelectNoDataFound || 'Nenhum dado encontrado' }}
                    </p>
                }
            </div>
        }
    </div>
}

@if (allowDisplayOnlySelected() && !isShining()) {
    <div class="flex w-full items-center mt-2">
        <span class="text-xs mr-4">
            {{ selectedCount() }} / {{ itemsTotal() }}
        </span>

        <ngt-checkbox class="flex" label="Visualizar selecionados" [name]='displayOnlySelectedName'
            [ngModel]="displayOnlySelected()" (ngModelChange)="displayOnlySelected.set($event)"
            [isDisabled]='isLoading() || isDisabledState()' h='h-5' w='w-5' ngt-stylizable>
        </ngt-checkbox>
    </div>
}

@if (isShining()) {
    <ngt-shining class="block w-full {{ ngtStyle.compile(['h']) }}" style="min-height: 16rem;"
        rounded='rounded' ngt-stylizable>
    </ngt-shining>
}

@if (componentReady()) {
    <input type='hidden' [ngModel]='value' [name]='name()' [value]='value'>
}
