<div class="bg-white rounded-lg shadow-xl border border-gray-100 absolute max-w-7xl"
    [ngClass]="positionClasses[position]" style="z-index: 999999 !important; width: max-content !important;"
    (click)="$event.stopPropagation()" @enterAnimation>

    <div *ngIf="!popoverTemplate; else showTemplate" class="px-2 py-1 text-gray-500 whitespace-nowrap">
        {{ popover }}
    </div>

    <ng-template #showTemplate>
        <ng-container [ngTemplateOutlet]="popoverTemplate"></ng-container>
    </ng-template>
</div>
