@if (href()) {
    <a [class]="anchorClass()" [routerLink]="href()" (click)="onClick($event)">
        <div [class]="containerClass()">
            @if (icon()) {
                <ngt-svg [src]="icon()" class="self-center"></ngt-svg>
            }
            <div class="self-center">
                <ng-content></ng-content>
            </div>
        </div>
    </a>
} @else {
    <a [class]="anchorClass()" (click)="onClick($event)">
        <div [class]="containerClassWithBorder()">
            @if (icon()) {
                <ngt-svg [src]="icon()" class="self-center"></ngt-svg>
            }
            
            <div class="self-center">
                <ng-content></ng-content>
            </div>
        </div>
    </a>
}