<div class='border-b leading-loose {{ ngtStyle.compile(["h", "color.text", "color.bg"]) }}'>
    <div class="flex align-items-center px-3 md:px-8 py-2">
        <div class="flex text-xl">
            <ngt-svg [src]="icon" class='mr-2' *ngIf="icon"></ngt-svg>
            <p class='text-xl font-medium self-center'>{{ caption }}</p>
        </div>

        <div class="w-full md:w-auto">
            <ng-content select="[header]"></ng-content>
        </div>

        <div class="w-full md:w-auto">
            <ng-content select="[left-header]"></ng-content>
        </div>

        <div class="ml-auto w-full md:w-auto">
            <ng-content select="[right-header]"></ng-content>
        </div>

    </div>
</div>