<div [class]="ngtStyle.compile(['h', 'color.text', 'color.bg', 'border', 'text'])">
    <div class="flex flex-wrap md:flex-nowrap h-full relative px-3 md:px-8 py-2">
        <div *ngIf="caption || icon" class="flex md:whitespace-nowrap items-center gap-2">
            <ngt-svg *ngIf="icon" [src]="icon" [class]="iconSize"></ngt-svg>

            <div class="flex self-center gap-1 {{ ngtStyle.compile(['font']) }}">
                {{ caption }}

                <ngt-helper *ngIf="helperText" [helpTitle]="helperTitle" class="mt-1" [iconColor]="helperIconColor">
                    {{ helperText }}
                </ngt-helper>
            </div>
        </div>

        <div [hidden]='!leftHeader?.children[0]?.children?.length'
            class="self-center {{ ngtStyle.compile(['position', 'w']) }}" #leftHeader>
            <ng-content select="[left-header]"></ng-content>
        </div>

        <div [hidden]='!header?.children[0]?.children?.length'
            class="self-center {{ ngtStyle.compile(['position', 'w']) }}" #header>
            <ng-content select="[header]"></ng-content>
        </div>

        <div class="{{ !rightHeader?.children[0]?.children?.length ? 'hidden' : 'flex justify-end ml-auto self-center' }} {{ ngtStyle.compile(['position', 'w']) }}"
            #rightHeader>
            <ng-content select="[right-header]"></ng-content>
        </div>
    </div>
</div>