<label class="{{ isToggleMode() ? 'flex-col' : '' }} inline-flex items-center cursor-pointer">
    <input type="checkbox" [name]='name' class="hidden" ([ngModel])='value' #element>

    <ng-container *ngIf="isDefaultMode()">
        <div style="transition: background-color .2s ease-out" class="{{ value ? ngtStyle.compile(['color.bg']) : 'bg-white' }}  
                shadow w-6 h-6 flex justify-center rounded border border-gray-400">
            <svg class="fill-current self-center text-white pointer-events-none" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path d="M0 11l2-2 5 5L18 3l2 2L7 18z" />
            </svg>
        </div>

        <span class="text-sm ml-2" *ngIf='label'>{{ label }}</span>
    </ng-container>

    <ng-container *ngIf="isToggleMode()">
        <span class="text-sm mb-2" *ngIf='label'>{{ label }}</span>

        <div class="{{ value ? 'justify-end' : 'bg-white justify-start' }}  
                shadow w-16 h-8 flex rounded-full border border-gray-400" style="padding: 1px;">
            <div *ngIf="value" class="flex text-xs text-white bg-green-500 pointer-events-none rounded-full px-2 py-3"
                @slideLeftToRight>
                <svg class="fill-current self-center" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M0 11l2-2 5 5L18 3l2 2L7 18z" />
                </svg>
            </div>

            <div *ngIf="!value" class="flex text-xl text-white bg-gray-300 pointer-events-none rounded-full px-1 py-3"
                @slideRightToLeft>
                <svg class="fill-current self-center" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path class="heroicon-ui"
                        d="M16.24 14.83a1 1 0 0 1-1.41 1.41L12 13.41l-2.83 2.83a1 1 0 0 1-1.41-1.41L10.59 12 7.76 9.17a1 1 0 0 1 1.41-1.41L12 10.59l2.83-2.83a1 1 0 0 1 1.41 1.41L13.41 12l2.83 2.83z" />
                </svg>
            </div>
        </div>
    </ng-container>
</label>