<button (click)="toggleMenu()" *ngIf="isOpen" tabindex="-1"
    class="fixed z-10 inset-0 h-full w-full bg-black opacity-0 cursor-default"></button>

<div class="{{ ngtStyle.compile(['w']) }} rounded-full relative z-20" *ngIf="isOpen" @fadeY>
    <ng-container *ngFor="let menu of menus; let i = index">
        <div class="my-2 rounded-full shadow-xl">
            <a *ngIf="isTypeNavigation(menu)" [routerLink]="menu.externalLink ? null : menu.url"
                (click)='menu.externalLink ? openExternalLink(menu.url) : toggleMenu()' title="{{ menu.tooltip }}"
                class="{{ ngtStyle.compile(['h', 'w', 'color.bg', 'color.text']) }} flex items-center justify-center rounded-full hover:opacity-75">
                <span *ngIf="menu.name"
                    class="text-sm font-semibold {{ menu.icon ? 'pr-2' : '' }}">{{ menu.name }}</span>
                <ngt-svg *ngIf="menu.icon" [src]='menu.icon' class="fill-current"></ngt-svg>
            </a>

            <div *ngIf="isTypeAction(menu)" title="{{ menu.tooltip }}" (click)='onClick($event, menu)'
                class="{{ ngtStyle.compile(['h', 'w', 'color.bg', 'color.text']) }} flex items-center justify-center rounded-full hover:opacity-75 cursor-pointer">
                <span *ngIf="menu.name"
                    class="text-sm font-semibold {{ menu.icon ? 'pr-2' : '' }}">{{ menu.name }}</span>
                <ngt-svg *ngIf="menu.icon" [src]='menu.icon' class="fill-current"></ngt-svg>
            </div>
        </div>
    </ng-container>
</div>

<!-- Abrir menu -->
<div (click)="toggleMenu()"
    class="flex z-20 justify-center {{ ngtStyle.compile(['h', 'w', 'color.bg', 'color.text', 'px', 'py']) }} focus:outline-none hover:opacity-75 cursor-pointer rounded-full outline-none">
    <span *ngIf="label"
        class="{{ icon ? 'pr-2' : '' }} self-center text-center text-sm font-semibold w-full">{{ label }}</span>
    <ngt-svg *ngIf="icon" [@openClose]="withAnimation ? isOpen ? 'open' : 'closed' : ''" [src]='icon'
        class="fill-current"></ngt-svg>
</div>