@if (isOpen()) {
    <button (click)="toggleMenu()" tabindex="-1"
        class="fixed z-10 inset-0 h-full w-full bg-black opacity-0 cursor-default">
    </button>

    <div class="{{ ngtStyle.compile(['w']) }} rounded-full relative z-20" @fadeY>
        @for (menu of menus(); track menu) {
            <div class="my-2 rounded-full shadow-xl">
                @if (isTypeNavigation(menu)) {
                    <a [routerLink]="menu.externalLink ? null : menu.url"
                        (click)="menu.externalLink ? openExternalLink(menu.url) : toggleMenu()" title="{{ menu.tooltip }}"
                        class="{{ ngtStyle.compile(['h', 'w', 'color.bg', 'color.text']) }} flex items-center justify-center rounded-full hover:opacity-75">
                        @if (menu.name) {
                            <span class="text-xs font-semibold {{ menu.icon ? 'pr-2' : '' }}">{{ menu.name }}</span>
                        }
                        @if (menu.icon) {
                            <ngt-svg [src]="menu.icon" class="fill-current"></ngt-svg>
                        }
                    </a>
                }

                @if (isTypeAction(menu)) {
                    <div title="{{ menu.tooltip }}" (click)="onClick($event, menu)"
                        class="{{ ngtStyle.compile(['h', 'w', 'color.bg', 'color.text']) }} flex items-center justify-center rounded-full hover:opacity-75 cursor-pointer">
                        @if (menu.name) {
                            <span class="text-xs font-semibold {{ menu.icon ? 'pr-2' : '' }}">{{ menu.name }}</span>
                        }
                        @if (menu.icon) {
                            <ngt-svg [src]="menu.icon" class="fill-current"></ngt-svg>
                        }
                    </div>
                }
            </div>
        }
    </div>
}

<!-- Abrir menu -->
<div (click)="toggleMenu()"
    class="flex z-20 justify-center {{ ngtStyle.compile(['h', 'w', 'color.bg', 'color.text', 'px', 'py']) }} focus:outline-none hover:opacity-75 cursor-pointer rounded-full outline-none">
    @if (label()) {
        <span class="{{ icon() ? 'pr-2' : '' }} self-center text-center text-xs font-semibold w-full">{{ label() }}</span>
    }
    @if (icon()) {
        <ngt-svg [@openClose]="withAnimation() ? (isOpen() ? 'open' : 'closed') : ''" [src]="icon()"
            class="fill-current"></ngt-svg>
    }
</div>
