<ngt-portlet class="block w-full" icon="assets/images/icons/plugin.svg" caption='Installation'>
    <div body>
        <p>For most projects you can install Ng Tailwind via npm.</p>
        <br>

        <div class="rounded-lg bg-gray-700 px-4 py-4 text-sm">
            <p class="text-gray-400"># Using npm</p>
            <p class="text-white">npm install ng-tailwind</p>
            <br>
            <p class="text-gray-400"># Using Yarn</p>
            <p class="text-white">yarn add ng-tailwind</p>
        </div>
    </div>
</ngt-portlet>