<ng-template #content>
    <ng-content></ng-content>
</ng-template>

<div class="relative h-full w-full" (click)='onClick($event)'>
    <ng-container *ngIf='!link'>
        <button [ngClass]="{ 'disabled-button': disabled(), 'loading-button': loading }" [disabled]="disabled()"
            [type]="(loading || disabled() || noSubmit) ? 'button' : 'submit'"
            class="flex justify-center items-center h-full w-full focus:outline-none rounded cursor-pointer {{ ngtStyle.compile(['color.bg', 'color.text', 'color.border', 'px', 'py', 'border', 'text']) }}">
            <ng-container *ngTemplateOutlet="content"></ng-container>

            <span *ngIf="loading" class="ml-2">
                <div class="div-loader h-5 w-5"></div>
            </span>
        </button>
    </ng-container>

    <ng-container *ngIf='link'>
        <a [routerLink]='href ? href : null' [ngClass]="{ 'disabled-button': disabled(), 'loading-button': loading }"
            class="flex justify-center items-center h-full w-full focus:outline-none rounded cursor-pointer {{ ngtStyle.compile(['color.bg', 'color.text', 'color.border', 'px', 'py', 'border', 'text']) }}">
            <span class="w-full">
                <ng-container *ngTemplateOutlet="content"></ng-container>
            </span>

            <span *ngIf="loading" class="ml-1">
                <div class="div-loader"></div>
            </span>
        </a>
    </ng-container>

    <legend *ngIf="forceEnable" class="absolute top-0 h-full w-full cursor-pointer hover:opacity-25 hover:bg-gray-100"
        (click)='onClick($event)'>
    </legend>
</div>