<ng-template #content>
    <ng-content></ng-content>
</ng-template>

<div [class]="wrapperClass()" (click)="onClick($event)">
    @if (!link()) {
        <button [ngClass]="stateClasses()" [disabled]="isDisabledState()" [type]="buttonType()" [class]="containerClass()">
            <ng-container *ngTemplateOutlet="content"></ng-container>

            @if (loadingState()) {
            <span class="ml-2">
                <div class="div-loader h-5 w-5"></div>
            </span>
            }
        </button>
    } @else {
        <a [routerLink]="href() ? href() : null" [ngClass]="stateClasses()" [class]="containerClass()">
            <span class="w-full">
                <ng-container *ngTemplateOutlet="content"></ng-container>
            </span>

            @if (loadingState()) {
            <span class="ml-1">
                <div class="div-loader"></div>
            </span>
            }
        </a>
    }

    @if (forceEnable()) {
        <legend [class]="'absolute top-0 cursor-pointer hover:opacity-25 hover:bg-gray-100 ' + ngtStyle.compile(['w', 'h'])"
            (click)="onClick($event)">
        </legend>
    }
</div>