.ngt-rotate-center-infinity {
    -webkit-animation: rotate-center 0.9s linear infinite none;
    animation: rotate-center 0.9s linear infinite none;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.disabled-button {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

.loading-button {
    opacity: 0.5 !important;
    cursor: wait !important;
}