.disabled-button {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

.loading-button {
    opacity: 0.5 !important;
    cursor: wait !important;
}

.div-loader {
    border: 3px solid #edf2f738;
    border-top-color: #edf2f7;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}