<div class="flex flex-col h-full w-full" #container>
    <label *ngIf="label" class="flex mb-2 text-sm">
        {{ label }}:

        <span class="text-red-500 font-bold text-md ml-1" *ngIf="isRequired">*</span>

        <ngt-helper *ngIf="helpText" [helpTitle]="helpTitle" [iconColor]="helpTextColor" class="ml-1">
            {{ helpText }}
        </ngt-helper>
    </label>

    <div *ngIf="!viewMode" class="h-full w-full relative">
        <div *ngIf="loading" class="flex absolute justify-center items-center w-full h-full cursor-wait z-10">
            <div class="div-loader"></div>
        </div>

        <ngx-dropzone [id]="ngxElementId" [multiple]='multipleSelection' [maxFileSize]='maxFileSize'
            (change)='onSelect($event)' [class.single-attachment]='itemsLimit == 1' [accept]='acceptedFiles'
            [disabled]='disabled || loading' [expandable]='verticalExpandable'
            [disableClick]='disableClick || forceDisableClick' [ngStyle]="{ 'height': dropzoneHeight }" #ngxDropzone>
            <ng-container *ngIf="!loading">
                <ngx-dropzone-label *ngIf="!uploadedResources?.length" class="px-2">
                    {{ placeholder }}
                </ngx-dropzone-label>

                <ng-container *ngFor="let resource of uploadedResources; let index = index">
                    <div class="flex flex-col w-48 mx-4"
                        title="{{ resource?.file?.name || '' }} ({{ getFormattedFileSize(resource) }})">
                        <custom-dropzone-preview *ngIf="previewType == 'DEFAULT' && isFile(resource)"
                            [file]='resource.file' [removable]="removable" (removed)="onRemove(resource)"
                            (click)="onFileClick(resource.file.url, resource.file.name, resource.file.size)"
                            ngProjectAs="ngx-dropzone-preview">
                        </custom-dropzone-preview>

                        <div *ngIf="isImage(resource)" class="cursor-pointer" (click)="imagePreview(index)" #gallery>
                            <ngx-dropzone-image-preview class="image-preview-default-class" [file]="resource.file"
                                [removable]="removable" (removed)="onRemove(resource)">
                            </ngx-dropzone-image-preview>
                        </div>

                        <ngx-dropzone-video-preview *ngIf="isVideo(resource) || isAudio(resource)"
                            [file]="resource.file" [removable]="removable" (removed)="onRemove(resource)">
                        </ngx-dropzone-video-preview>

                        <p *ngIf="showFileName"
                            class="w-full truncate text-gray-500 text-center text-sm font-mono mt-2">
                            {{ resource?.file?.name || '' }}
                        </p>
                    </div>
                </ng-container>
            </ng-container>
        </ngx-dropzone>
    </div>

    <ngt-dropzone-view *ngIf="viewMode" [resources]="resources" class="h-full w-full"></ngt-dropzone-view>

    <ngt-dropzone-file-viewer [hidden]="!showNgtDropzoneFileViewer" (onClose)="forceDisableClick = false">
    </ngt-dropzone-file-viewer>

    <input *ngIf='componentReady' type="hidden" [ngModel]="value" [name]="name" [value]="value">
    <ngt-validation [control]="formControl" [container]="formContainer"></ngt-validation>
</div>
