.singleAttachmentPreview {
    border: none !important;
    height: 100% !important;
    margin: unset !important;
    align-items: unset !important;
}

.singleAttachmentComponent {
    border: none !important;
    height: 230px !important;
    margin: unset !important;
    align-items: unset !important;
}

.rotate-center-infinity {
    -webkit-animation: rotate-center 0.9s linear infinite none;
    animation: rotate-center 0.9s linear infinite none;
}

ngx-dropzone-label {
    word-break: break-all !important;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}