<div class="flex flex-col h-full w-full">
    <label class="{{ shining ? '' : 'block' }} mb-2 text-sm flex" *ngIf="label" [hidden]='shining'>
        {{ label }}:

        <span class="text-red-500 font-bold text-md ml-1" *ngIf="isRequired">*</span>

        <div *ngIf='helpText' class="flex {{ helpTextColor }}" [title]="helpTitle" [attr.data-content]="helpText">
            &nbsp;
            <svg class="fill-current self-center" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path
                    d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm2-13c0 .28-.21.8-.42 1L10 9.58c-.57.58-1 1.6-1 2.42v1h2v-1c0-.29.21-.8.42-1L13 9.42c.57-.58 1-1.6 1-2.42a4 4 0 1 0-8 0h2a2 2 0 1 1 4 0zm-3 8v2h2v-2H9z" />
            </svg>
        </div>
    </label>

    <div *ngIf="!viewMode" [hidden]='shining' class="h-full w-full relative">
        <ng-container *ngIf="loading">
            <div class="flex absolute justify-center w-full h-full cursor-wait z-10">
                <svg class="rotate-center-infinity self-center fill-current {{ ngtDropzoneLoaderStyle.compile(['h', 'color.text']) }}"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path
                        d="M10 3v2a5 5 0 00-3.54 8.54l-1.41 1.41A7 7 0 0110 3zm4.95 2.05A7 7 0 0110 17v-2a5 5 0 003.54-8.54l1.41-1.41zM10 20l-4-4 4-4v8zm0-12V0l4 4-4 4z" />
                </svg>
            </div>
        </ng-container>

        <ngx-dropzone [multiple]='multipleSelection' [maxFileSize]='maxFileSize'
            [class.single-attachment]='itemsLimit == 1' [accept]='acceptedFiles' [disabled]='disabled || loading'
            [expandable]='verticalExpandable' [disableClick]='disableClick' (change)='onSelect($event)' #ngxDropzone
            style="height: 100% !important; min-height: 20px!important">
            <ng-container *ngIf="!loading">
                <ngx-dropzone-label class="px-2" *ngIf="!resources || resources && !resources.length">
                    {{ placeholder }}
                </ngx-dropzone-label>

                <ng-container *ngFor="let resource of resources">
                    <div title="{{ resource?.file?.name || '' }} ({{ getFormattedFileSize(resource) }})">
                        <div (click)="onClick(resource, ngtDropzoneFileTypeEnum.ARCHIVE)">
                            <ngx-dropzone-preview [removable]="removable" (removed)="onRemove(resource)"
                                *ngIf="previewType == 'DEFAULT' && (!isImage(resource) && !isVideo(resource) && !isAudio(resource))">
                            </ngx-dropzone-preview>
                        </div>
                        <div *ngIf="isImage(resource)" (click)="onClick(gallery, ngtDropzoneFileTypeEnum.IMAGE)"
                            class="cursor-pointer" #gallery>
                            <img [src]="resource.file.url" [alt]="resource.file.name" hidden>
                            <ngx-dropzone-image-preview class="image-preview-default-class" [file]="resource.file"
                                [removable]="removable" (removed)="onRemove(resource)">
                            </ngx-dropzone-image-preview>
                        </div>
                        <ngx-dropzone-video-preview *ngIf="isVideo(resource) || isAudio(resource)"
                            [file]="resource.file" [removable]="removable" (removed)="onRemove(resource)">
                        </ngx-dropzone-video-preview>

                        <div class="w-48 truncate text-gray-500 text-center text-sm font-mono -mt-2"
                            *ngIf="showFileName">
                            {{ resource && resource.file && resource.file.name ? resource.file.name : '' }}
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </ngx-dropzone>
    </div>
    <div *ngIf="viewMode" class="border-2 border-dotted border-gray-400 rounded p-2"
        style="height: 100%!important; min-height: 20px!important">

        <ng-container *ngIf="loading">
            <div class="flex justify-center w-full h-full cursor-wait z-10">
                <svg class="rotate-center-infinity self-center fill-current {{ ngtDropzoneLoaderStyle.compile(['h', 'color.text']) }}"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path
                        d="M10 3v2a5 5 0 00-3.54 8.54l-1.41 1.41A7 7 0 0110 3zm4.95 2.05A7 7 0 0110 17v-2a5 5 0 003.54-8.54l1.41-1.41zM10 20l-4-4 4-4v8zm0-12V0l4 4-4 4z" />
                </svg>
            </div>
        </ng-container>

        <div *ngIf="getImages()?.length">
            <div ngxViewer [viewerOptions]="imageViewerOptions"
                class="flex overflow-x-auto justify-center items-center py-5">
                <div *ngFor="let image of getImages()" class="w-48 mr-8">
                    <div title="{{ image?.file?.name || '' }} ({{ getFormattedFileSize(image) }})"
                        class="cursor-pointer">
                        <img [src]="image.file.url" [alt]="image.file.name" class="w-full h-32">
                        <div class="w-48 truncate text-gray-500 text-center text-sm font-mono">
                            {{ image?.file?.name || '' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ng-container *ngFor="let audio of getAudios()">
            <div class="py-5">
                <audio controls>
                    <source [src]="audio.file.url">
                </audio>
                <div class="w-48 truncate text-gray-500 text-center text-sm font-mono">
                    {{ audio?.file?.name || '' }}
                </div>
            </div>
        </ng-container>

        <div *ngFor="let video of getVideos()">
            <div class="py-5">
                <video width="240" controls>
                    <source [src]="video.file.url">
                </video>
                <div class="w-48 truncate text-gray-500 text-center text-sm font-mono">
                    {{ video?.file?.name || '' }}
                </div>
            </div>
        </div>

        <div class="flex">
            <div *ngFor="let file of getArchives()">
                <div class="w-48 mr-6 cursor-pointer" (click)="openDocViewer(file)">
                    <div class="w-full flex justify-center border-2 rounded py-4 text-6xl">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path class="heroicon-ui" fill="#4a5568"
                                d="M6 2h9a1 1 0 0 1 .7.3l4 4a1 1 0 0 1 .3.7v13a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4c0-1.1.9-2 2-2zm9 2.41V7h2.59L15 4.41zM18 9h-3a2 2 0 0 1-2-2V4H6v16h12V9zm-2 7a1 1 0 0 1-1 1H9a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1zm0-4a1 1 0 0 1-1 1H9a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1zm-5-4a1 1 0 0 1-1 1H9a1 1 0 1 1 0-2h1a1 1 0 0 1 1 1z" />
                        </svg>
                    </div>
                    <div class="w-48 truncate text-gray-500 text-center text-sm font-mono">
                        {{ file?.file?.name || '' }}
                    </div>
                </div>
            </div>
        </div>

        <div class="px-2" *ngIf="!loading && !resources?.length">
            {{ placeholder }}
        </div>
    </div>

    <ng-container *ngIf='shining'>
        <div class="flex w-full">
            <ngt-shining class="h-10 w-full"></ngt-shining>
        </div>
    </ng-container>

    <input *ngIf='componentReady' type="hidden" [ngModel]="value" [name]="name" [value]="value">

    <ng-content></ng-content>
    <ngt-validation [control]="formControl" [container]="formContainer"></ngt-validation>
    <ngt-dropzone-file-viewer [hidden]="!showNgtDropzoneFileViewer" (onClose)="disableClick = false">
    </ngt-dropzone-file-viewer>
</div>