.single-attachment {
    border: none !important;
    margin: unset !important;
    overflow: hidden !important;
    display: flex !important;
    justify-content: center !important;
}

ngx-dropzone-image-preview.image-preview-default-class.ng-star-inserted {
    min-width: 180px !important;
    max-width: 180px !important;
    min-height: 140px !important;
    height: 140px !important;
    padding: 0 5px !important;
}

.div-loader {
    width: 4rem;
    height: 4rem;
    border: 3px solid #a0aec038;
    border-top-color: #a0aec0;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}