<ngt-portlet class="block w-full" icon="assets/images/icons/button.svg" caption='Ngt Button'>
    <div body>
        <p>Component used to perform an action when clicking on an button. Can be used too for navigation.</p>
        <br>

        <p class="pb-4 font-semibold">Examples:</p>

        <div class="flex flex-col border rounded-lg py-2">
            <div class="flex justify-around border-b pb-2">
                <ngt-button type='success' class="w-3/12 px-4" (click)="successButton()">
                    <span class="text-center w-full">Success</span>
                </ngt-button>

                <ngt-button type='danger' class="w-3/12 px-4" (click)="dangerButton()">
                    <span class="text-center w-full">Danger</span>
                </ngt-button>

                <ngt-button type='warning' class="w-3/12 px-4" (click)="warningButton()">
                    <span class="text-center w-full">Warning</span>
                </ngt-button>

                <ngt-button type='info' class="w-3/12 px-4" (click)="informationButton()">
                    <span class="text-center w-full">Information</span>
                </ngt-button>
            </div>

            <div class="p-6 flex justify-center">
                <code-preview>{{ codeExample }}</code-preview>
            </div>
        </div>

        <br>
        <p class="pb-4 font-semibold">Inputs:</p>

        <div class="flex flex-col text-gray-800">
            <div class="flex w-full items-center border">
                <p class="text-center w-2/12 bg-gray-200 border-r py-2 px-4 font-semibold">href</p>
                <p class="w-10/12 py-2 px-4">
                    Address that will be used in the router link when the link option is enable.
                </p>
            </div>

            <div class="flex w-full items-center border">
                <p class="text-center w-2/12 bg-gray-200 border-r py-2 px-4 font-semibold">link</p>
                <p class="w-10/12 py-2 px-4">When enabled it makes the button behave like an anchor tag.</p>
            </div>

            <div class="flex w-full items-center border">
                <p class="text-center w-2/12 bg-gray-200 border-r py-2 px-4 font-semibold">type</p>
                <p class="w-10/12 py-2 px-4">
                    Change the background color according to the chosen type (success, danger, warning, info).
                </p>
            </div>

            <div class="flex w-full items-center border">
                <p class="text-center w-2/12 bg-gray-200 border-r py-2 px-4 font-semibold">loading</p>
                <p class="w-10/12 py-2 px-4">Controls the button loading status.</p>
            </div>

            <div class="flex w-full items-center border">
                <p class="text-center w-2/12 bg-gray-200 border-r py-2 px-4 font-semibold">isDisable</p>
                <p class="w-10/12 py-2 px-4">Determines whether the component is enable.</p>
            </div>

            <div class="flex w-full items-center border">
                <p class="text-center w-2/12 bg-gray-200 border-r py-2 px-4 font-semibold">noSubmit</p>
                <p class="w-10/12 py-2 px-4">
                    When true, prevents the form from being triggered when the button is clicked.
                </p>
            </div>
        </div>
    </div>
</ngt-portlet>